
// Cherry Blossoms

%mobile-blossoms {
    @include max_tablet{
        height: 1100px;
        width: 930px !important;
        background-position: -379px -247px !important;
        background-size: contain !important;
    }
    @include max_phone {
        width: 560px !important;
        background-position: -189px -110px !important;
    }
}

#cherry-blossoms{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    pointer-events: none;
    z-index: 21;
    @include max_tablet{
        position: fixed;
    }
}

.ie #cherry-blossoms{
    z-index: -1;
}

#cherry-blossom-main{
    @include background( image-url( "cherry-blossom-shadow.png" ));
    background-position: -220px -93px;
    background-repeat: no-repeat;
    height: 1100px;
    width: 100%;

    @include max_desktop{
        background-position: -370px -97px;
    }
    @include max_laptop{
        background-position: -490px -97px;
    }
    @extend %mobile-blossoms;
}

// Above Header

.above-header {
    overflow: visible;
    height: 500px;

    @include max_tablet{
        height: 190px;
    }
    @include max_phone {
        height: 180px;
    }

    h1 {
        margin-top: 30px;
        padding: 15px;

        position: absolute;
        top: 0;
        left: auto !important;
        right: 0;

        font-size: 75px;

        @include max_desktop{
            font-size: 65px;
        }
        @include max_tablet {
            font-size: 49px;
            top: 155px !important;
        }
        @include max_phone {
            font-size: 32px;
            margin-left: 0;
            padding: 0; 
            right: auto;
            left: 0;
            top: 170px !important;
        }
    }
}
#above-header-container {
    height: 100%;
    position: relative;
}