
// Cherry Blossoms

%mobile-blossoms {
    @include max_tablet{
        height: 1100px;
        width: 930px !important;
        background-position: -379px -247px !important;
        background-size: contain !important;
        left: 0 !important;
        top: 0 !important;
    }
    @include max_phone {
        width: 560px !important;
        background-position: -201px -110px !important;
        left: 0 !important;
        top: 0 !important;
    }
}

%cherry-blossom {
    @if ($TESTING) { display: none; }
    width: 100%;
    height: auto;
    overflow-x: hidden;
    pointer-events: none;
    z-index: 21;
    @include max_tablet{
        position: absolute;
    }
}
.cherry-blossom{
    @extend %cherry-blossom;
}

.ie #cherry-blossoms{
    z-index: -1;
}

#cherry-blossom-inv{
    @include background( image-url( "cherry-blossom-shadow-inv.png" ));
    background-position: 350px -200px;
    background-repeat: no-repeat;
    height: 1100px;
    width: 100%;
}

#cherry-blossom-center{
    @include background( image-url( "cherry-blossom.png" ));
    background-position: 0 -300px;
    background-repeat: no-repeat;
    height: 1100px;
    width: 100%;
    z-index: 9999;
}

#cherry-blossom-main{
    @include background( image-url( "cherry-blossom-shadow.png" ));
    background-position: -720px -80px;
    background-repeat: no-repeat;
    height: 1100px;
    width: 100%;
    @include max_laptop {
        background-position: -760px -113px;
    }
    @extend %mobile-blossoms;
}


// Above Header

.above-header {
    overflow: visible;
    height: 500px;
    // background-color: #222;

    @include max_tablet{
        height: 190px;
    }
    @include max_phone {
        height: 180px;
    }

    h1 {
        margin-top: 37px;
        padding: 15px;

        position: absolute;
        top: 0;
        left: auto !important;
        right: 0;

        font-size: 91px;

        @include max_desktop{
            font-size: 65px;
        }
        @include max_tablet {
            font-size: 52px;
            top: 155px !important;
        }
        @include max_phone {
            font-size: 32px;
            margin-left: 0;
            padding: 0; 
            right: auto;
            left: 0;
            top: 170px !important;
        }
    }
}
#above-header-container {
    height: 100%;
    position: relative;
}