// Footer menu

.footer-widgets {
    .nav {
        margin-top: 0px;
    }
    .widget {
        height: 170px;
        padding: 0 23px;
        margin-top: 30px;
        border-left: 1px dashed #444;

        h2 {
            font-family: "Dosis", sans-serif !important;
            font-size: 110%;
            color: white;
            margin-bottom: 20px;
            letter-spacing: 3px;
        }
        @include max_tablet {
            padding: 0;
            margin-top: 30px;
            border-left: 0;
        }
    }
    .widget:first-child {
        border-left: 0;
    }
    .widget:last-child {
        @include max_tablet {
            padding: 0;
            margin-top: 0;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        list-style-type: none;
    }
    .menu-item {
        margin: 3px 0;
        text-transform: uppercase;
        font-size: 115%;

        &:before {
            margin-left: 10px;
            margin-right: 5px;
            content: "\00bb ";
            color: $red;
        }
    }
}

// Footer Menu

#footer-menu {
    li {
        width: 100%;
    }
}

// Root footer & footer (for Sticky Footer)

#root-footer, #footer {
    height: auto;
    p {
        color: #666;
    }
}

// Footer

#footer {
    // @extend %opaqueBg;
    // background-color: #222;
    // @include background( image-url( "bg/goth.jpg" ));
    // margin-top: 30px;

    > .container {
        padding-top:    15px;
        padding-bottom: 15px;
    }
}

// Sticky Footer
// @include sticky-footer(300px, "#root", "#root-footer", "#footer");


// Bottom Footer

#bottom-footer {
    min-height: 10px;
    padding:    0;

    font-size:      13px;
    letter-spacing: 1px;

    background-color: $red;

    > .container {
        padding: 0;
        margin-top:    5px;
        margin-bottom: 5px;

        @include max_tablet {
            margin-top: 10px;
            margin-bottom: 14px;
        }
    }

    @include max_tablet {

        .text-right{
            text-align: left;
        }
        .pull-right {
            float: left;
        }
        .col-sm-6 {
            width: 100%;
        }
    }

    a {
        color: lighten($blue, 11%);
        &:hover, &:focus {
            color: lighten($blue, 30%);
        }
    }
}


