@import "vars";
@import "mixins";

// Links

:focus, a:focus {
    outline: -webkit-focus-ring-color auto 0;
}

a{
    color: $blue;
    &:hover {
        color: $cyan;
    }
}
a:hover {
    text-decoration: none !important;
}
.btn {
    // margin: 30px 0;
    a {
        text-transform: uppercase;
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

// Type

code {
    @extend %darkBg;
}
pre, .highlight {
    @extend %darkBg;
}
pre {
    color: #666;
    margin: 30px 0;
}
time {
    color: #999;
}

// Structure

body {
    overflow-x: hidden;
    background-color:   darken($blue, 17%);
    @include background(image-url("bg/stripes.png") #000 fixed);
}
article {
    padding-left: 0 !important;
}
.row {
    margin-left:    0;
    margin-right:   0;
}
.container {
    @include max_tablet {
        padding: 0 25px 5px;
    }
}
.modal {
    top: 10%;
}
.page-header {
    border: 0;
    margin: 20px 0 0;
    padding-bottom: 0;
}
.post {
    margin: 0 0 40px 0;
}
.entry-meta {
    margin-bottom: 20px;
    line-height: 150%;
}

.main-content{
    padding: 65px 0 30px 0;

    @include max_tablet{
        padding: 40px 0 30px 0;
    }
}
.main-content-inner {
    ul {
        list-style: circle;
        margin-left: 27px;
    }
}



.content{
    margin-left: 15px;
    margin-right: 15px;
    @include max_tablet {
        margin-left: 0;
        margin-right: 0;
    }
}

.image {
     @if $use_shadows { @extend %boxShadow; }

    img {
        width: 100% !important;
        height: auto !important;
    }

    @include max_laptop {
        width: 100%;
        img {
            width: 100% !important;
        }
    }
}

.sidebar {
    // @if $use_shadows { @extend %boxShadow; }
    padding: 20px;
    margin-top: 20px;
    background-color: black;
}

.row-thumbnails {
    margin-left: -15px;
    margin-right: -15px;
}
.thumbnail {
    @extend %transBg;
    min-height:     285px;
    padding:        0;
    margin-bottom:  30px;

    @include transition(all, 0s);

    // Responsive

    @include laptop {
        min-height:     250px;
    }
    @include max_phone {
        width: 100%;
        clear: both;
        min-height: 0;
    }

    h3 {
        @include transition (background-color, 0.5s);
        @include transition (padding,    0.5s);
    }
    img {
        height: auto !important;

        @include max_tablet {
            width: 100% !important;
        }
    }

    .thumb-content {
        @extend %boxShadow;
        background-color: black;
    }
    .caption {
        text-align: center;
        padding: 10px 0 0 0;
    }

    // Hover states

    &:hover {
        @include min_tablet {
            img {
                // border: 1px dotted $blue;
                // @include transition(border, 0.5s);
            }
            h3 {
                background: $blue;
                padding-top: 20px;
                @include transition (background-color, 0.2s);
                @include transition (padding, 0.2s);
            }
        }
    }
}