
/* 
 * 	Home
 */

.home {
    .above-header {
        @include max_phone{
            height: 227px;
        }
        @include max_pager {
            height: 257px;
        }
    }
    #cherry-blossom-main {
        @include max_tablet{
            background-position: -321px -227px !important;
        }
        @include max_phone {
            width: 740px !important;
            background-position: -321px -117px !important;
        }
    }
    .entry-content {
        @include max_tablet{
            padding: 0;
        }
        @include max_phone{
            margin-top: -15px;        
        }
    }
    .main-content {
        padding-top: 115px;

        @include max_desktop {
            padding-top: 80px;
        }
        @include max_tablet{
            padding-top: 0px;
        }
    }
    .main-content-inner span{
        color: $blue;
    }
}
.col-page-left {
    padding: 0 30px 10px 10px;
    @include max_desktop {
        padding: 0 20px 10px 10px !important;
    }
    @include max_laptop {
        padding: 0 15px 10px 10px !important;
    }
    @include max_tablet {
        padding: 10px 0 !important;
    }
}
.hero-right {
    margin-top:     8px;
    margin-bottom:  40px;
    // @include border-radius(10px);

    @include max_tablet {
        margin-bottom: 0;
    }
}


/* 
 * 	Blog 
 */

.blog {
    .page-header {
        @include max_tablet {
            margin: 80px 0 0;
        }
        @include max_phone {
            margin: 50px 0 0;
        }
    }
    .main-content-inner {
        h2 a {
            color: white;
            &:hover {
                color: #ccc;
            }
        }
        .page-title {
            @include max_tablet {
                text-align: right;
            }
            @include max_phone {
                text-align: left;
            }
        }
        /* .post .page-title {
            @include max_tablet {
                text-align: left;
            }
        } */
        @include min_tablet {
            h2 a {
                font-size: 49px;
            }
        }
        @include max_tablet {
            h1 {
                margin-top: 23px;
            }
            h2 a {
                font-size: 37px;
            }
        }
    }
    #cherry-blossom-main {
        background-position: 70% -84px;
        @extend %mobile-blossoms;
    }
}

/* 
 * 	Responsive 
 */

//  Responsive 4-Up Thumbs, 4 Views

.mq-thumbs-container {
    position: relative;
}

#mq-thumbs-b, #mq-thumbs-c {
    position: absolute;
    top: 0;
}

.mq-list {
    padding-bottom: 30px;

    @include max_tablet {
        padding-bottom: 0px;
    }
    li {
        margin-right: 18px;
        padding: 0;

        @extend %pink_border;
        // @extend %boxShadow;

        @include max_desktop {
            margin-right: 15px;
        }
        @include max_laptop {
            margin-right: 10px;
        }
        @include max_tablet {
            margin-right: 0.9%;
        }

        img {
        }
    }
    .smartphone {
        width: 8.1%;
        @include tablet {
            width: 8%;
        }
        @include max_tablet{
            width: 8.1%;
        }
    }
    .tablet {
        width: 19.5%;
        @include max_tablet{
            width: 19.4%;
        }
    }
    .netbook {
        width: 25.9%;
    }
    .desktop {
        margin-right: 0;
        width: 40.5%;
    }
}



/* 
 *  Contact 
 */

.cscfForm {
    p {
        font-size: 17px;
    }  
    label {
        font-size: 16px;
    }
    textarea {
        resize: none !important;
    }
}
.form-control {
    color: #FFFFFF;
    border: 0 dotted #333;
    background-color: #222;
    letter-spacing: 1px;
    &:focus {
        @extend %boxShadowNone;
        border: 2px dotted #444;
    }
}


/* 
 * 	All Pages
 */



.home, .page-id-21 {
    .main-content-inner{
        margin: 5px;
        @include max_tablet{
            margin: 10px; 
        }
    }
}
.page-id-21 {
    h3 {
        padding: 10px 0;
        font-size: 37px;
    }
}

.single, .blog {
    .main-content-inner {
        margin: 15px;
        @include max_tablet{
            margin: 10px; 
        }
    }
}
.single #scroll-down {
    display: none !important;
}
@include max(800px) {
     #scroll-down {
        zoom: 60% !important;
    }
}

.home, .blog, .page-id-21{
    .hentry {
        margin: 0;
    }
    .post {
        margin-top: -10px;
    }
}
.entry-content {
    padding: 15px 3px;
    p {
        margin-bottom: 15px;
        @include single-text-shadow;
        @include max_laptop {
            font-size: 15px;
            line-height: 21px;
        }
    }
    img {
        margin: 10px 0 30px;
    }
}
#col-credits {
    @include max_tablet {
        // padding-top: 10px;
    }
}
.credits {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 5px !important;
    
    td {
        padding: 3px !important;
    }
    @include max_desktop{
        td {
            padding: 1px !important;
        }
    }
    a {
        padding-left: 10px;
    }
}
.description{
    margin-bottom: 10px;

    @include max_tablet {
        margin-top: 20px;
    }

    button {
        margin-top: 5px;

        @include max_tablet {
            margin-top: 10px;
        }
    }
}
.media {
    margin-bottom: 30px;

    @include max_tablet {
        margin-bottom: 0px;
    }

    p {
        margin: 0;
    }
    img {
        @extend %img-full;
        margin: 0;
    }
    object {
        margin-right:  10px !important;
        margin-bottom: 15px !important;
    }
}
.single-programmer .media {
    margin-bottom: 20px;
}


// Contact Page

.page-id-21 {
    #cherry-blossoms{
        z-index: 999;
    }
}
