/*
 * TYPOGRAPHY
 */

@import "responsive";
@import "mixins";
@import "compass/css3/text-shadow";

@include font-face("Raleway Dots",  font-files("RalewayDots-Regular.ttf"));
@include font-face("Dosis",         font-files("Dosis-Regular.ttf"));

@mixin verticalRhythm($scale){
	$fontRhythm:  $font-size-base 	* $scale;
	$lineRhythm: ($line-height-base	* $scale) * 0.8;
}


$default-text-shadow-color:     rgba(black, 1);
$default-text-shadow-blur:      3px;
$default-text-shadow-h-offset:  0px;
$default-text-shadow-v-offset:  2px;



/*
 *	BASICS
 */

body {
    font-family:    "Dosis", sans-serif;
    color:          #ccc;
    font-size:      16px;
    line-height:    23px;

    @include max_desktop {
        font-size:      15px;
        line-height:    22px;
    }
    @include max_laptop {
        font-size:      14px;
        line-height:    21px;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway Dots", sans-serif;
    text-transform: uppercase;
    color: white;
    margin-top: 0;
    span{
        color: #ccc;
    }
    a:hover {
        text-decoration: none;
    }
}
h1 {
    font-size:      60px;
    margin-bottom:  50px;
    margin-left:    -2px;
    @include single-text-shadow;
    @include max_desktop {
        font-size: 49px;
        margin-bottom:  40px;
    }
    @include max_tablet {
        font-size: 47px;
        margin-bottom:  40px;
    }
}
h2 {
    font-size: 230%;
}
h3 {
    margin: 0px 0 15px 0;
    padding: 5px 7px 5px;
    font-size: 95%;
    line-height: 130%;
    letter-spacing: 1px;

    i {
        margin-right: 5px;
        margin-top: 2px;
        color: darken($red, 20%);
    }
}
a{
    @include transition(color, 0.25s);
    &:hover{
        @include transition(color, 0.25s);
    }
    @include max_tablet{
        @include transition(0);
    }
}
p {
    color:          #ccc;
    font-family:    "Dosis", sans-serif;
    font-size:      17px;
    line-height:    24px;
    font-weight:    100;
    letter-spacing: 0.7px;
    margin-bottom:  20px;

    @include max_desktop {
        font-size:      15px;
        line-height:    21px;
        margin-bottom:  18px;
            letter-spacing: 0.5px;
    }
    @include max_laptop {
        font-size:      13px;
        line-height:    19px;
        margin-bottom:  13px;
        letter-spacing: 0.4px;
    }
     @include max_tablet{
        font-size:      16px;
        line-height:    23px;
        letter-spacing: 0.7px;
    }
}