/* Nav */
$masthead_height:   600px;
$nav_height:        50px;
$use_shadows:       true;

/* Body */
$section_height: 700px;

/* Spacers */
$pad-md: 15px;

/* Colors */
$red:   #d2322d;
$blue:  #0074a2;
$cyan:  #2ea2cc;
$green: #9ebaa0;
