/* Nav */
$masthead_height:   600px;
$nav_height:        50px;
$use_shadows:       false;

/* Body */
$section_height: 700px;

/* Spacers */
$pad-md: 15px;

/* Colors */
$red:       #d2322d;
$blue:      #0074a2;
$cyan:      #2ea2cc;
$green:     #5cb85c;
$yellow:    #f0ad4e;
$rust: 		#F3BA64;

$vm_blue:   #428bca;
$vm_yellow: #f7b42c;
$vm_green:  #aad450;
$vm_pink:   #f27490;
