/*
 *	CUSTOM SCSS
 */

@import "compass/css3";
@import "compass/reset";
@import "compass/layout";
@import "vars";
@import "reset";
@import "responsive";
@import "typography";
@import "navbar";
@import "sections";
@import "pages";
@import "social";


body {
    overflow-x: hidden;
    background-color: #333;//darken($blue, 17%);
    // @include background(image-url("bg/stripes-blue.png") #000 fixed);
}
article {
    padding-left: 0 !important;
}

code {
    @extend %darkBg;
}
pre, .highlight {
    @extend %darkBg;
}
pre {
    color: #666;
    margin: 30px 0;
}
time {
    color: #999;
}
table {
    border-spacing: 0 !important;
    border-color: transparent !important;
}

:focus, a:focus {
    outline: -webkit-focus-ring-color auto 0;
}

a{
    color: $blue;
    &:hover {
        color: $cyan;
    }
}
a:hover {
    text-decoration: none !important;
}

.btn {
    // margin: 30px 0;
    a {
        text-transform: uppercase;
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}
.btn-block{
    margin-bottom: 20px;
    color: black;
    font-size: 100%;
}


/* Divs */

.row {
    margin-left:    0;
    margin-right:   0;
}
.container {
    @include max_tablet {
        padding: 0 25px 5px;
    }
}
.page-header {
    border: 0;
    margin: 20px 0 0;
    padding-bottom: 0;
}
.post {
    margin: 0 0 40px 0;
}
.entry-meta {
    margin-bottom: 20px;
    line-height: 150%;
}
.main-content{
    padding-top: 100px;

    @include max_desktop {
        padding-top: 90px;  
    }
    @include max_laptop {
        padding-top: 80px;  
    }
    @include max_tablet{
        padding-top: 70px;
    }
}
.content{
    margin-left: 15px;
    margin-right: 15px;
    @include max_tablet {
        margin-left: 0;
        margin-right: 0;
    }
}
.image {
     @if $use_shadows { @extend %boxShadow; }

    img {
        width: 100% !important;
        height: auto !important;
    }

    @include max_laptop {
        width: 100%;
        img {
            width: 100% !important;
        }
    }
}



/* 
 *  Sidebar
 */

.sidebar {
    // @if $use_shadows { @extend %boxShadow; }
    padding: 20px;
    margin-top: 20px;
    background-color: black;

    h3 {
        padding: 0 0 10px;
        margin: 0 !important;
    }
    .nav>li>a {
        padding: 10px 0;
    }
}



/* 
 *  Thumbnails
 */

.row-thumbnails {
    margin-left: -15px;
    margin-right: -15px;

    li {
        @include max($pager + 50){
            width: 100% !important;
            clear: both;
            min-height: 0;
        }
    }
}
.thumbnail {
    @extend %transBg;
    padding:        0;
    margin-bottom:  1%;

    @include transition(all, 0s);

    h3 {
        @include transition (background-color, 0.5s);
        @include transition (padding,    0.5s);
        font-family: "Dosis", sans-serif !important;
        // color: $rust;
        // @extend %boxShadowMd;
        background-color: black;
    }
    img {
        height: auto !important;
        border: 3px solid black;

        @include max_tablet {
            width: 100% !important;
        }
    }

    .thumb-content {
        
    }
    .caption {
        text-align: center;
        padding: 10px 0 0 0;
    }

    // Hover states

    &:hover {
        @include min_tablet {
            img {
                border: 3px solid darken($blue, 10%);
                @include transition(border, 0.5s);
            }
            h3 {
                background: darken($blue, 10%);
                // color: lighten($rust, 5%);
                // padding-top: 20px;
                @include transition (background-color, 0.2s);
                @include transition (padding, 0.2s);
            }
            i {
                color: white;
            }
        }
    }
}
.thumb-title {
    min-height: 58px;
    @include max($pager + 1){
        min-height: 35px;
    }
}


.modal {
    top: 10%;
}





.above-header {
    height: 500px;
    background-color: black;
}

#avatar {
    width:  17px;
    height: 17px;
    margin-top: 1px;
    margin-right: 13px;
}
.visit-site {
    margin: 40px 0;
}

.col-content {
    padding-left:  0px;
    padding-right: 50px;

    @include max_laptop {
        padding-right: 40px;
    }
    @include max_tablet {
        padding-right: 0;
    }
}

.portfolio-desc {
    padding: 15px 0 45px 0;
}

/* 
 *  Soliloquy Slider 
 */

.soliloquy-container {
    img{
        width: 100%;
        height: auto;
    }
    .soliloquy-direction-nav {
        display: block !important;
    }
    .soliloquy-control-nav, .soliloquy-prev, .soliloquy-next {
        @include opacity(0);
        @include transition(opacity, 0.5s);
    }    
    &:hover {
        .soliloquy-control-nav, .soliloquy-prev, .soliloquy-next {
            @include opacity(1);
            @include transition(opacity, 0.5s);
        }   
    }
}

.design-slider {
    margin: 26px 0;
    @extend %boxShadow;
}


/* 
 *  Twitter feed 
 */

.kmeta {
    @include max_laptop {
        font-size: 15px;
    }
}
.ktext {
    line-height: 19px !important;
    margin: 15px 0 !important;
}


/* 
 *  Contact Form 
 */

.cscfForm {
    > p {
        margin-bottom: 20px;
    }
    label {
        margin-bottom: 10px;
        color: $cyan;
    }
}
#frmCSCF {
    .btn {
        border: $blue;
        background-color: $blue;
        color: white;
        @include transition(background-color, 0.25s);
        &:hover {
            background-color: $cyan;
            @include transition(background-color, 0.25s);
        }
    }
}

/* 
 *  Media Queries thumbs
 */

.mq-list {
    padding-top: 30px;
    li {
        margin-right: 18px;
        padding: 0;
        @extend %boxShadow;

        @include max_desktop {
            margin-right: 15px;
        }
        @include max_laptop {
            margin-right: 10px;
        }
        @include max_tablet {
            margin-right: 0.9%;
        }
    }
    .smartphone {
        width: 8.1%;
        @include tablet {
            width: 8%;
        }
        @include max_tablet{
            width: 8.1%;
        }
    }
    .tablet {
        width: 19.5%;
        @include max_tablet{
            width: 19.4%;
        }
    }
    .netbook {
        width: 25.9%;
    }
    .desktop {
        margin-right: 0;
        width: 40.5%;
    }
}

.entry-content {
    p {
        margin-bottom: 15px;
    }
    img {
        margin: 10px 0 30px;
    }
}

.credits {
    // margin-top: 22px;
    td {
        padding: 3px !important;
    }
    @include max_desktop{
        // margin-top: 22px;

        td {
            padding: 1px !important;
        }
    }
}

.media, .description{
    margin-bottom: 30px;
}
.media {
    img {
        @extend %img-full;
        margin: 0;
    }
    object {
        margin-right:  10px !important;
        margin-bottom: 15px !important;
    }
}
.single-design .media {
    @extend %boxShadow;
    border: 1px solid black;
}

#mc_signup {
    padding: 0 !important;
    .mergeRow {
        display: none !important;
        padding: 0 !important;
    }    
}



/* 
 *  Footer
 */

#root-footer, #footer {
    height: auto;
    p {
        color: #666;
    }
}
#footer {
    background-color: #000;
}
// @include sticky-footer(300px, "#root", "#root-footer", "#footer");


/*
 *  Admin Menu 
 */

#adminmenu #menu-posts-design .wp-menu-image:before {
    content: '\f85' !important;
}
