/*
 *	CUSTOM SCSS
 */

@import "compass/css3";
// @import "compass/reset";
// @import "compass/layout";
@import "vars";
@import "reset";
@import "responsive";
@import "typography";
@import "navbar";
@import "sections";
@import "social";


body {
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
}
article {
    padding-left: 0 !important;
}

code {
    @extend %darkBg;
}
pre, .highlight {
    @extend %darkBg;
}
pre {
    color: #666;
    margin: 30px 0;
}
time {
    color: #999;
}
table {
    border-spacing: 0 !important;
    border-color: transparent !important;
}

:focus, a:focus {
    outline: -webkit-focus-ring-color auto 0;
}

a{
    color: $blue;
    &:hover {
        color: $cyan;
    }
}
a:hover {
    text-decoration: none !important;
}

.btn {
    // margin: 30px 0;
    a {
        text-transform: uppercase;
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}
.btn-block{
    margin-bottom: 20px;
    color: black;
    font-size: 100%;
}


/* Divs */

.row {
    margin-left:    0;
    margin-right:   0;
}
.container {
    @include max_tablet {
        padding: 0 25px 5px;
    }
}
.page-header {
    border: 0;
    margin: 20px 0 0;
    padding-bottom: 0;
}
.post {
    margin: 0 0 40px 0;
}
.entry-meta {
    margin-bottom: 20px;
    line-height: 150%;
}
.main-content{
    padding-top: 100px;

    @include max_desktop {
        padding-top: 90px;  
    }
    @include max_laptop {
        padding-top: 80px;  
    }
    @include max_tablet{
        padding-top: 0px;
    }
    > .container {
        // padding-top: 15px;
        @extend %opaqueBg;
        @include max_tablet{
            background-color: transparent;
        }
    }
}
    .main-content-inner {
        padding-bottom: 0;
        .col-sm-6 {
            @include max_tablet{
                padding: 0;
            }
        }
    }

.content{
    margin-left: 15px;
    margin-right: 15px;
    @include max_tablet {
        margin-left: 0;
        margin-right: 0;
    }
}
.image {
     @if $use_shadows { @extend %boxShadow; }

    img {
        width: 100% !important;
        height: auto !important;
    }

    @include max_laptop {
        width: 100%;
        img {
            width: 100% !important;
        }
    }
}



/* 
 *  Sidebar
 */

.sidebar {
    // @if $use_shadows { @extend %boxShadow; }
    padding: 20px;
    margin-top: 20px;
    background-color: black;

    h3 {
        padding: 0 0 10px;
        margin: 0 !important;
    }
    .nav>li>a {
        padding: 10px 0;
    }
}



/* 
 *  Thumbnails
 */

.row-thumbnails {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;

    li {
        @include max($pager + 50){
            width: 100% !important;
            clear: both;
            min-height: 0;
        }
    }
}

$thumb_back: rgba(#333, 0.9);
$thumb_hover: $red;

.thumbnail {
    @extend %transBg;
    padding:        0;
    margin-bottom:  1%;
    
    @include transition(all, 0s);

    h3 {
        @include transition (background-color,  1s);
        @include transition (padding,           1s);
        font-family: "Dosis", sans-serif !important;
        background-color: $thumb_back;
    }
    img {
        height: auto !important;
        border: 3px dotted #aaa;
        @include filter(grayscale(100%));
        @include opacity(0.3);
        @include transition(opacity, 1s);
        @include transition(border, 1s);

        @include max_tablet {
            @include opacity(1);
            @include filter(grayscale(100%));
            border: 3px dotted $thumb_back;
            width: 100% !important;
        }
    }

    i {
        color: $blue;
    }
    .caption {
        text-align: center;
        padding: 10px 0 0 0;
    }

    // Hover states

    &:hover, &:focus {
        @include min_tablet {
            img {
                border: 3px dotted $thumb_hover;
                border-bottom: 3px dotted $thumb_hover;
                @include filter(grayscale(0%));
                // @include transition(border, 0.5s);
                @include opacity(1);
                @include transition(opacity, 0.5s);
                // @include filter(blur(0));
                // @include transition(blur, 0.2s);
            }
            h3 {
                background: $thumb_hover;//darken($red, 10%);
                color: white;
                // color: lighten($rust, 5%);
                padding-top: 20px;
                @include transition (background-color, 0.2s);
                @include transition (padding, 0.2s);
            }
            i {
                color: black;
            }
        }
    }
}
.thumb-title {
    min-height: 58px;
    @include max($pager + 1){
        min-height: 35px;
    }
}


.modal {
    top: 10%;
}







#avatar {
    width:  17px;
    height: 17px;
    margin-top: 1px;
    margin-right: 13px;
}
.visit-site {
    margin: 40px 0;
}

.col-content {
    padding-left:  0px;
    padding-right: 50px;
    overflow: hidden;

    ul {
        list-style: disc !important;
    }

    @include max_laptop {
        padding-right: 40px;
    }
    @include max_tablet {
        padding-right: 0;
    }
}

.portfolio-desc {
    padding: 15px 0 45px 0;
}

/* 
 *  Soliloquy Slider 
 */

.soliloquy-container {
    img{
        width: 100%;
        height: auto;
    }
    .soliloquy-direction-nav {
        display: block !important;
    }
    .soliloquy-control-nav, .soliloquy-prev, .soliloquy-next {
        @include opacity(0);
        @include transition(opacity, 0.5s);
    }    
    &:hover {
        .soliloquy-control-nav, .soliloquy-prev, .soliloquy-next {
            @include opacity(1);
            @include transition(opacity, 0.5s);
        }   
    }
}

.design-slider {
    margin: 26px 0;
    @extend %boxShadow;
}


/* 
 *  Twitter feed 
 */

.kmeta {
    @include max_laptop {
        font-size: 15px;
    }
}
.ktext {
    line-height: 21px !important;
    margin: 15px 0 !important;
    color: #999 !important;
}


/* 
 *  Contact Form 
 */

.cscfForm {
    > p {
        margin-bottom: 20px;
    }
    label {
        margin-bottom: 10px;
        color: $blue;
    }
}
#frmCSCF {
    .btn {
        border: $red;
        background-color: $red;
        color: white;
        @include transition(background-color, 0.25s);
        &:hover {
            background-color: $blue;
            @include transition(background-color, 0.25s);
        }
    }
}

/* 
 *  Media Queries thumbs
 */

.mq-list {
    padding-top: 30px;
    li {
        margin-right: 18px;
        padding: 0;
        @extend %boxShadow;

        @include max_desktop {
            margin-right: 15px;
        }
        @include max_laptop {
            margin-right: 10px;
        }
        @include max_tablet {
            margin-right: 0.9%;
        }
    }
    .smartphone {
        width: 8.1%;
        @include tablet {
            width: 8%;
        }
        @include max_tablet{
            width: 8.1%;
        }
    }
    .tablet {
        width: 19.5%;
        @include max_tablet{
            width: 19.4%;
        }
    }
    .netbook {
        width: 25.9%;
    }
    .desktop {
        margin-right: 0;
        width: 40.5%;
    }
}

.entry-content {
    padding: 15px 3px;
    p {
        margin-bottom: 15px;
        @include single-text-shadow;
        @include max_laptop {
            font-size: 15px;
            line-height: 21px;
        }
    }
    img {
        margin: 10px 0 30px;
    }
}

.credits {
    // margin-top: 22px;
    td {
        padding: 3px !important;
    }
    @include max_desktop{
        // margin-top: 22px;

        td {
            padding: 1px !important;
        }
    }
}

.media, .description{
    margin-bottom: 30px;
}
.media {
    p {
        margin: 0;
    }
    img {
        @extend %img-full;
        margin: 0;
    }
    object {
        margin-right:  10px !important;
        margin-bottom: 15px !important;
    }
}
.single-design .media {
    @extend %boxShadow;
    border: 1px solid black;
}




.hero-right {
    margin-top: 21px;
    margin-bottom: 40px;
    @extend %boxShadow;
    @include max_tablet {
        margin-bottom: 0;
    }
}
.col-page-left {
    padding: 0 10px 0 0;
    @include max_tablet {
        padding: 0;
    }
}
.above-header {
    overflow: visible;
    height: 500px;

    h1 {
        margin-top: 30px;
        font-size: 75px;
        z-index: 999;
        @include max_desktop{
            font-size: 65px;
        }
        @include max_desktop{
            font-size: 65px;
        }
    }
}
#above-header-container {
    height: 100%;
}

#cherry-blossoms{
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: 21;
}
.home, .blog, .page-id-21 {
    #cherry-blossoms{
        z-index: -1;
    }
}
#cherry-blossoms{
    @include max_tablet{
        z-index: -1;
        // @include opacity(0.75);
    }
}
#cb-a{

    @include background(image-url("cherry-blossom.png"));
    background-position: -322px 100px;
    background-repeat: no-repeat;
    height: 1100px;
    width: 100%;

    @include max_desktop{
        background-position: -370px 100px;
    }
    @include max_laptop{
        background-position: -545px 100px;
    }
    @include max_tablet{
        @include opacity(0.7);
        // width: 100%;
        background-position: -966px -90px;//-900px -347px;
    }
}
.home #cb-a {
    @include max_tablet{
        background-position: -1104px -204px;//-1000px -166px;
    }
}
.home .entry-content {
    @include max_tablet{
        padding: 0;
    }
    @include max_phone{
        margin-top: -15px;        
    }
}
.blog #cb-a {
    @include max_tablet{
        background-position: -852px -350px;
    }
}
/*
 *  Admin Menu 
 */

#adminmenu #menu-posts-design .wp-menu-image:before {
    content: '\f85' !important;
}
