/*
 *	CUSTOM SCSS
 */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Nav */
/* Thumbs */
/* Opaque Bg Value */
/* Body */
/* Spacers */
/* Colors */
/* 
 *	Reset 
 */
/* line 17, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: top;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/*
 * TYPOGRAPHY
 */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/*
 * 	Mixins
 */
/* line 5, ../scss/_mixins.scss */
.hero-right, .mq-list li, .single .media img {
  border-top: 7px solid #b12e4f;
  padding-top: 1.5% !important;
}

/* line 11, ../scss/_mixins.scss */
.btn:focus, .btn-primary:focus, .btn-danger:focus, .btn-info:focus, a:hover, a:focus {
  outline: 0 !important;
  text-decoration: none !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* line 16, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 19, ../scss/_mixins.scss */
.no-pad-left {
  padding-left: 0 !important;
}
@media only all and (max-width: 767px) {
  /* line 19, ../scss/_mixins.scss */
  .no-pad-left {
    padding-right: 0;
  }
}

/* line 23, ../scss/_mixins.scss */
.no-pad-right {
  padding-right: 0 !important;
}
@media only all and (max-width: 767px) {
  /* line 23, ../scss/_mixins.scss */
  .no-pad-right {
    padding-left: 0;
  }
}

@media only all and (max-width: 767px) {
  /* line 27, ../scss/_mixins.scss */
  .no-pad-mobile {
    padding: 0 !important;
  }
}

/* line 32, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 36, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 39, ../scss/_mixins.scss */
.pad-content {
  padding: 10px 0;
}

/* line 42, ../scss/_mixins.scss */
.pad-none {
  padding: 0;
}

/* line 45, ../scss/_mixins.scss */
.width-100 {
  width: 100%;
}

/* line 48, ../scss/_mixins.scss */
.media img {
  width: 100%;
  height: auto;
}

/* line 52, ../scss/_mixins.scss */
.pos-abs {
  position: absolute;
}

/* line 55, ../scss/_mixins.scss */
.pos-rel {
  position: relative;
}

/* line 58, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 75, ../scss/_mixins.scss */
.thumbnail img, #social-nav a img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale") !important;
  /* Firefox 10+, Firefox on Android */
  filter: gray !important;
  /* IE6-9 */
  -webkit-filter: grayscale(100%) !important;
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* line 80, ../scss/_mixins.scss */
.thumbnail:hover img, .thumbnail:focus img, #social-nav a:hover img {
  filter: none !important;
  /* Applies to FF + IE */
  -webkit-filter: grayscale(0) !important;
}

/* line 109, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 124, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 128, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 132, ../scss/_mixins.scss */
.navbar > .container {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 135, ../scss/_mixins.scss */
.design-slider {
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

/* line 147, ../scss/_mixins.scss */
.form-control:focus {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

@font-face {
  font-family: "Raleway Dots";
  src: url('/wp-content/themes/jn-wpbs/assets/fonts/RalewayDots-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Dosis";
  src: url('/wp-content/themes/jn-wpbs/assets/fonts/Dosis-Regular.ttf') format('truetype');
}

/*
 *	BASICS
 */
/* line 54, ../scss/_typography.scss */
body {
  color: #aaa;
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 100;
  letter-spacing: 0.7px;
}
@media only all and (max-width: 1199px) {
  /* line 54, ../scss/_typography.scss */
  body {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.5px;
  }
}
@media only all and (max-width: 991px) {
  /* line 54, ../scss/_typography.scss */
  body {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }
}
@media only all and (max-width: 767px) {
  /* line 54, ../scss/_typography.scss */
  body {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.7px;
  }
}

/* line 57, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway Dots", sans-serif;
  text-transform: uppercase;
  color: white;
  margin-top: 0;
}
/* line 62, ../scss/_typography.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #ccc;
}
/* line 65, ../scss/_typography.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* line 69, ../scss/_typography.scss */
h1 {
  font-size: 60px;
  margin-bottom: 50px;
  margin-left: -2px;
  text-shadow: 0px 2px 3px black;
}
@media only all and (max-width: 1199px) {
  /* line 69, ../scss/_typography.scss */
  h1 {
    font-size: 49px;
    margin-bottom: 40px;
  }
}
@media only all and (max-width: 767px) {
  /* line 69, ../scss/_typography.scss */
  h1 {
    font-size: 33px;
    margin-bottom: 40px;
  }
}

/* line 83, ../scss/_typography.scss */
h2 {
  font-size: 230%;
}

/* line 86, ../scss/_typography.scss */
h3 {
  margin: 0px 0 15px 0;
  padding: 5px 7px 5px;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 1px;
}
@media only all and (max-width: 991px) {
  /* line 86, ../scss/_typography.scss */
  h3 {
    font-size: 12px;
  }
}
/* line 97, ../scss/_typography.scss */
h3 i {
  margin-right: 5px;
  margin-top: 2px;
  color: #60192b;
}

/* line 103, ../scss/_typography.scss */
a {
  -webkit-transition: color, 0.25s;
  -moz-transition: color, 0.25s;
  -o-transition: color, 0.25s;
  transition: color, 0.25s;
}
/* line 105, ../scss/_typography.scss */
a:hover {
  -webkit-transition: color, 0.25s;
  -moz-transition: color, 0.25s;
  -o-transition: color, 0.25s;
  transition: color, 0.25s;
}
@media only all and (max-width: 767px) {
  /* line 103, ../scss/_typography.scss */
  a {
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
  }
}

/* line 112, ../scss/_typography.scss */
p {
  color: #aaa;
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 100;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}
@media only all and (max-width: 1199px) {
  /* line 112, ../scss/_typography.scss */
  p {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.5px;
  }
}
@media only all and (max-width: 991px) {
  /* line 112, ../scss/_typography.scss */
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }
}
@media only all and (max-width: 767px) {
  /* line 112, ../scss/_typography.scss */
  p {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.7px;
  }
}
@media only all and (max-width: 1199px) {
  /* line 112, ../scss/_typography.scss */
  p {
    margin-bottom: 18px;
  }
}
@media only all and (max-width: 991px) {
  /* line 112, ../scss/_typography.scss */
  p {
    margin-bottom: 13px;
  }
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Logo */
/* line 5, ../scss/_navbar.scss */
.navbar-brand {
  padding: 15px 30px 0 15px;
  white-space: nowrap;
}
@media only all and (max-width: 991px) {
  /* line 5, ../scss/_navbar.scss */
  .navbar-brand {
    padding: 15px 23px 0 15px;
    letter-spacing: 1.3px;
  }
}
@media only all and (max-width: 767px) {
  /* line 5, ../scss/_navbar.scss */
  .navbar-brand {
    padding-top: 12px;
    padding-left: 15px;
    line-height: 25px;
  }
  /* line 18, ../scss/_navbar.scss */
  .navbar-brand #avatar {
    width: 24px;
    height: 24px;
  }
}

/* line 24, ../scss/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: white;
}

/* line 28, ../scss/_navbar.scss */
.site-navigation-inner {
  padding-left: 0;
  padding-right: 0;
  z-index: 999;
  width: 100%;
}

@media only all and (max-width: 767px) {
  /* line 35, ../scss/_navbar.scss */
  .navbar-fixed-top {
    position: relative;
  }
}

/* Nav */
/* line 44, ../scss/_navbar.scss */
.nav > li > a {
  padding: 15px;
}
@media only all and (max-width: 1199px) {
  /* line 44, ../scss/_navbar.scss */
  .nav > li > a {
    padding: 15px 11px;
  }
}
@media only all and (max-width: 991px) {
  /* line 44, ../scss/_navbar.scss */
  .nav > li > a {
    padding: 15px 6px 15px;
  }
}
@media only all and (max-width: 767px) {
  /* line 44, ../scss/_navbar.scss */
  .nav > li > a {
    padding: 0 0 15px 52px;
  }
}
/* line 56, ../scss/_navbar.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/* 
 *   Navbar 
 */
/* line 68, ../scss/_navbar.scss */
.navbar {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}
/* line 72, ../scss/_navbar.scss */
.navbar a {
  font-size: 18px;
  letter-spacing: 2px;
}
@media only all and (min-width: 992px) and (max-width: 1199px) {
  /* line 72, ../scss/_navbar.scss */
  .navbar a {
    font-size: 16px;
  }
}
@media only all and (min-width: 768px) and (max-width: 991px) {
  /* line 72, ../scss/_navbar.scss */
  .navbar a {
    font-size: 14px;
    letter-spacing: 1.3px;
  }
}
/* line 84, ../scss/_navbar.scss */
.navbar > .container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
@media only all and (max-width: 767px) {
  /* line 84, ../scss/_navbar.scss */
  .navbar > .container {
    border-radius: 0;
  }
}

/* line 92, ../scss/_navbar.scss */
.navbar-nav {
  margin: 0 0 0 -15px;
}

/* 
 *  Active 
 */
/* line 102, ../scss/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #cf486a;
}

/* line 106, ../scss/_navbar.scss */
.navbar-inverse {
  background-color: transparent;
  border: 0;
}

/* line 111, ../scss/_navbar.scss */
.navbar-collapse {
  border-top: 0;
  box-shadow: none !important;
  padding-bottom: 20px;
}

/* line 117, ../scss/_navbar.scss */
#nav-row {
  height: 50px;
  z-index: 9999;
  position: fixed;
}

/* line 127, ../scss/_navbar.scss */
#nav-below .btn {
  margin-top: 20px;
}
/* line 130, ../scss/_navbar.scss */
#nav-below .btn-primary {
  margin-top: 10px;
}
/* line 133, ../scss/_navbar.scss */
#nav-below span {
  line-height: 17px;
}

/* line 140, ../scss/_navbar.scss */
.nav-previous {
  float: left;
  margin-right: 10px;
}

/* line 147, ../scss/_navbar.scss */
button {
  margin-right: 15px !important;
}

/* line 151, ../scss/_navbar.scss */
.btn a {
  text-transform: uppercase;
  color: white;
}
/* line 154, ../scss/_navbar.scss */
.btn a:hover {
  color: white;
  text-decoration: none;
}

/* line 163, ../scss/_navbar.scss */
.btn-primary {
  background-color: #b12e4f;
  border-color: #b12e4f;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

/* line 168, ../scss/_navbar.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #d15070;
  border-color: #d15070;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

/* line 173, ../scss/_navbar.scss */
.btn-danger {
  background-color: #b12e4f;
  border-color: #b12e4f;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}
/* line 178, ../scss/_navbar.scss */
.btn-danger .fa-arrow-left {
  line-height: 19px;
  margin-right: 5px;
  margin-left: -5px;
}
/* line 183, ../scss/_navbar.scss */
.btn-danger:focus {
  background-color: #b12e4f;
}

/* line 188, ../scss/_navbar.scss */
.btn-danger:hover, .btn-danger:active, .btn-danger.active {
  background-color: #d15070;
  border-color: #d15070;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

/* line 194, ../scss/_navbar.scss */
.btn-info {
  background-color: #555555;
  border-color: #555555;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}
/* line 199, ../scss/_navbar.scss */
.btn-info:focus {
  border: 2px dotted #444 !important;
}

/* line 204, ../scss/_navbar.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
  background-color: #767676;
  border-color: #767676;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

/* line 209, ../scss/_navbar.scss */
.btn-block {
  margin-bottom: 20px;
  color: black;
  font-size: 100%;
}

/* line 217, ../scss/_navbar.scss */
.affix .navbar-inverse, .affix-top .navbar > .container, .single .affix .navbar-inverse, .single .affix-top .navbar-inverse {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 221, ../scss/_navbar.scss */
.affix {
  top: 0;
}
/* line 227, ../scss/_navbar.scss */
.affix .navbar > .container {
  background-color: transparent;
}

/* line 233, ../scss/_navbar.scss */
.affix-top .navbar-inverse {
  background-color: transparent;
}
@media only all and (max-width: 767px) {
  /* line 231, ../scss/_navbar.scss */
  .affix-top {
    position: fixed;
    top: 0;
  }
}

/* line 246, ../scss/_navbar.scss */
.single .affix, .single .affix-top {
  position: fixed;
}
/* line 251, ../scss/_navbar.scss */
.single .affix .navbar > .container, .single .affix-top .navbar > .container {
  background-color: transparent;
}
@media only all and (max-width: 767px) {
  /* line 246, ../scss/_navbar.scss */
  .single .affix, .single .affix-top {
    position: static;
  }
}

/* line 5, ../scss/_footer.scss */
#footer, #root-footer {
  height: auto;
}
/* line 7, ../scss/_footer.scss */
#footer p, #root-footer p {
  color: #666;
}

@media only all and (max-width: 767px) {
  /* line 18, ../scss/_footer.scss */
  #footer > .container {
    margin-bottom: -20px;
  }
}

/* line 36, ../scss/_footer.scss */
.footer-widgets .nav {
  margin-top: 0px;
}
/* line 39, ../scss/_footer.scss */
.footer-widgets .widget {
  height: 170px;
  padding: 0 23px;
  margin-top: 30px;
  border-left: 1px dashed #444;
}
/* line 45, ../scss/_footer.scss */
.footer-widgets .widget h2 {
  font-family: "Dosis", sans-serif !important;
  font-size: 110%;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
@media only all and (max-width: 767px) {
  /* line 39, ../scss/_footer.scss */
  .footer-widgets .widget {
    padding: 0;
    margin-top: 30px;
    border-left: 0;
  }
}
/* line 58, ../scss/_footer.scss */
.footer-widgets .widget:first-child {
  border-left: 0;
}
@media only all and (max-width: 767px) {
  /* line 61, ../scss/_footer.scss */
  .footer-widgets .widget:last-child {
    padding: 0;
    margin-top: 0;
  }
}
/* line 69, ../scss/_footer.scss */
.footer-widgets ul {
  padding: 0;
  list-style: none;
  list-style-type: none;
}
/* line 74, ../scss/_footer.scss */
.footer-widgets .menu-item {
  margin: 3px 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.3px;
}
/* line 82, ../scss/_footer.scss */
.footer-widgets .menu-item:before {
  margin-left: 10px;
  margin-right: 5px;
  content: "\00bb ";
  color: #b12e4f;
}

/* line 94, ../scss/_footer.scss */
#footer-menu li {
  width: 100%;
}

/* line 101, ../scss/_footer.scss */
#bottom-footer {
  min-height: 10px;
  padding: 0;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #b12e4f;
}
/* line 111, ../scss/_footer.scss */
#bottom-footer > .container {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media only all and (max-width: 767px) {
  /* line 111, ../scss/_footer.scss */
  #bottom-footer > .container {
    margin: 15px 25px;
  }
}
/* line 120, ../scss/_footer.scss */
#bottom-footer a {
  color: #d19aa7;
}
/* line 123, ../scss/_footer.scss */
#bottom-footer a:hover, #bottom-footer a:focus {
  color: #efdde1;
}
/* line 127, ../scss/_footer.scss */
#bottom-footer span {
  color: black;
}
/* line 129, ../scss/_footer.scss */
#bottom-footer span a {
  color: black;
}
/* line 132, ../scss/_footer.scss */
#bottom-footer span a:hover, #bottom-footer span a:focus {
  color: #2ea2cc;
}
/* line 137, ../scss/_footer.scss */
#bottom-footer phone {
  white-space: nowrap;
}
/* line 140, ../scss/_footer.scss */
#bottom-footer .fa {
  margin: 5px;
}
@media only all and (max-width: 991px) {
  /* line 101, ../scss/_footer.scss */
  #bottom-footer {
    font-size: 11px;
  }
}
@media only all and (max-width: 767px) {
  /* line 101, ../scss/_footer.scss */
  #bottom-footer {
    font-size: 12px;
  }
  /* line 151, ../scss/_footer.scss */
  #bottom-footer .text-right {
    text-align: left;
  }
  /* line 154, ../scss/_footer.scss */
  #bottom-footer .pull-right {
    float: left;
  }
  /* line 157, ../scss/_footer.scss */
  #bottom-footer .col-sm-6 {
    width: 100%;
    padding: 0;
  }
}

/*
 * 	Mixins
 */
/* line 5, ../scss/_mixins.scss */
.hero-right, .mq-list li, .single .media img {
  border-top: 7px solid #b12e4f;
  padding-top: 1.5% !important;
}

/* line 11, ../scss/_mixins.scss */
.btn:focus, .btn-primary:focus, .btn-danger:focus, .btn-info:focus, a:hover, a:focus {
  outline: 0 !important;
  text-decoration: none !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* line 16, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 19, ../scss/_mixins.scss */
.no-pad-left {
  padding-left: 0 !important;
}
@media only all and (max-width: 767px) {
  /* line 19, ../scss/_mixins.scss */
  .no-pad-left {
    padding-right: 0;
  }
}

/* line 23, ../scss/_mixins.scss */
.no-pad-right {
  padding-right: 0 !important;
}
@media only all and (max-width: 767px) {
  /* line 23, ../scss/_mixins.scss */
  .no-pad-right {
    padding-left: 0;
  }
}

@media only all and (max-width: 767px) {
  /* line 27, ../scss/_mixins.scss */
  .no-pad-mobile {
    padding: 0 !important;
  }
}

/* line 32, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 36, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 39, ../scss/_mixins.scss */
.pad-content {
  padding: 10px 0;
}

/* line 42, ../scss/_mixins.scss */
.pad-none {
  padding: 0;
}

/* line 45, ../scss/_mixins.scss */
.width-100 {
  width: 100%;
}

/* line 48, ../scss/_mixins.scss */
.media img {
  width: 100%;
  height: auto;
}

/* line 52, ../scss/_mixins.scss */
.pos-abs {
  position: absolute;
}

/* line 55, ../scss/_mixins.scss */
.pos-rel {
  position: relative;
}

/* line 58, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 75, ../scss/_mixins.scss */
.thumbnail img, #social-nav a img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale") !important;
  /* Firefox 10+, Firefox on Android */
  filter: gray !important;
  /* IE6-9 */
  -webkit-filter: grayscale(100%) !important;
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* line 80, ../scss/_mixins.scss */
.thumbnail:hover img, .thumbnail:focus img, #social-nav a:hover img {
  filter: none !important;
  /* Applies to FF + IE */
  -webkit-filter: grayscale(0) !important;
}

/* line 109, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 124, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 128, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 132, ../scss/_mixins.scss */
.navbar > .container {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 135, ../scss/_mixins.scss */
.design-slider {
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

/* line 147, ../scss/_mixins.scss */
.form-control:focus {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* line 4, ../scss/_sections.scss */
.row-content {
  overflow: hidden;
  position: relative;
}

/* line 11, ../scss/_sections.scss */
section {
  height: 700px;
  min-height: 700px;
  max-height: 650px;
  padding: 90px 0;
}
@media only all and (max-width: 767px) {
  /* line 11, ../scss/_sections.scss */
  section {
    padding: 40px 0;
  }
}
/* line 21, ../scss/_sections.scss */
section .col-sm-5, section .col-md-6 {
  padding-left: 0;
}

/* Masthead row above navigation */
/* line 27, ../scss/_sections.scss */
#row-masthead {
  height: 600px;
}
@media only all and (max-width: 1199px) {
  /* line 27, ../scss/_sections.scss */
  #row-masthead {
    height: 600px;
  }
}
@media only all and (max-width: 479px) {
  /* line 27, ../scss/_sections.scss */
  #row-masthead {
    display: none;
  }
}

/* .content {
    background-attachment: fixed;

    @include max_tablet {
        width: 50%;
    }
    @include max_phone {
        width: 100%;
        padding-left:  0px;
        padding-right: 0px;
    }
} */
/* Sections */
/* line 54, ../scss/_sections.scss */
#section-1 {
  height: 600px;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-black.jpg?1385356639');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}
@media only all and (max-width: 1199px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 520px;
  }
}
@media only all and (max-width: 991px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 610px;
  }
}
@media only all and (max-width: 767px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 550px;
  }
}
@media only all and (max-width: 479px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    margin-top: 100px;
  }
}

/* line 77, ../scss/_sections.scss */
#section-2 {
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-dkblue.jpg?1385356639');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 83, ../scss/_sections.scss */
#section-3 {
  background-color: #6d838e;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-grey.jpg?1385356639');
  background-color: black;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 91, ../scss/_sections.scss */
#section-4 {
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-red.jpg?1385356640');
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
}

/* Spaceshio */
/* line 105, ../scss/_sections.scss */
#ship {
  position: absolute;
  top: 10px;
  left: auto !important;
  right: -60px;
  z-index: 999;
}
@media only all and (max-width: 1199px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    right: -120px;
  }
}
@media only all and (max-width: 991px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 74%;
    right: -140px;
  }
}
@media only all and (max-width: 767px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 64%;
    height: auto;
  }
}
@media only all and (max-width: 479px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 100%;
    height: auto;
    margin-top: -220px;
  }
}

@media only all and (max-width: 767px) {
  /* line 136, ../scss/_sections.scss */
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    background-attachment: scroll;
    background-position: 0 0 !important;
  }
}
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Nav */
/* Thumbs */
/* Opaque Bg Value */
/* Body */
/* Spacers */
/* Colors */
/* 
 *  Thumbnails
 */
/* line 10, ../scss/_thumbs.scss */
.row-thumbnails {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
}
@media only all and (max-width: 459px) {
  /* line 15, ../scss/_thumbs.scss */
  .row-thumbnails li {
    width: 100% !important;
    clear: both;
    min-height: 0;
  }
}
@media only all and (max-width: 767px) {
  /* line 15, ../scss/_thumbs.scss */
  .row-thumbnails li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 28, ../scss/_thumbs.scss */
.thumbnail {
  padding: 0;
  margin-bottom: 1%;
}
/* line 33, ../scss/_thumbs.scss */
.thumbnail h3 {
  -webkit-transition: background-color, 1s;
  -moz-transition: background-color, 1s;
  -o-transition: background-color, 1s;
  transition: background-color, 1s;
  -webkit-transition: padding, 1s;
  -moz-transition: padding, 1s;
  -o-transition: padding, 1s;
  transition: padding, 1s;
  font-family: "Dosis", sans-serif !important;
  background-color: #393939;
}
/* line 39, ../scss/_thumbs.scss */
.thumbnail img {
  height: auto !important;
  border: 3px dotted #333;
  -webkit-transition: opacity, 1s;
  -moz-transition: opacity, 1s;
  -o-transition: opacity, 1s;
  transition: opacity, 1s;
  -webkit-transition: border, 1s;
  -moz-transition: border, 1s;
  -o-transition: border, 1s;
  transition: border, 1s;
}
/* line 49, ../scss/_thumbs.scss */
.thumbnail .image {
  background-color: black;
}
/* line 52, ../scss/_thumbs.scss */
.thumbnail i {
  color: #bf7485;
  -webkit-transition: color, 0.5s;
  -moz-transition: color, 0.5s;
  -o-transition: color, 0.5s;
  transition: color, 0.5s;
}
/* line 56, ../scss/_thumbs.scss */
.thumbnail .caption {
  text-align: center;
  padding: 10px 0 0 0;
}
/* line 64, ../scss/_thumbs.scss */
.thumbnail:hover img, .thumbnail:focus img {
  border: 3px dotted #b12e4f;
  border-bottom: 3px dotted #b12e4f;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity, 0.5s;
  -moz-transition: opacity, 0.5s;
  -o-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
}
/* line 73, ../scss/_thumbs.scss */
.thumbnail:hover h3, .thumbnail:focus h3 {
  background: #b12e4f;
  color: white;
  padding-top: 20px;
  -webkit-transition: background-color, 0.2s;
  -moz-transition: background-color, 0.2s;
  -o-transition: background-color, 0.2s;
  transition: background-color, 0.2s;
  -webkit-transition: padding, 0.2s;
  -moz-transition: padding, 0.2s;
  -o-transition: padding, 0.2s;
  transition: padding, 0.2s;
}
/* line 80, ../scss/_thumbs.scss */
.thumbnail:hover i, .thumbnail:focus i {
  color: black;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  -o-transition: color, 0.2s;
  transition: color, 0.2s;
}

/* line 87, ../scss/_thumbs.scss */
.thumb-title {
  min-height: 47px;
  transition: none !important;
}

/*
 * 	Mixins
 */
/* line 5, ../scss/_mixins.scss */
.hero-right, .mq-list li, .single .media img {
  border-top: 7px solid #b12e4f;
  padding-top: 1.5% !important;
}

/* line 11, ../scss/_mixins.scss */
.btn:focus, .btn-primary:focus, .btn-danger:focus, .btn-info:focus, a:hover, a:focus {
  outline: 0 !important;
  text-decoration: none !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* line 16, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 19, ../scss/_mixins.scss */
.no-pad-left {
  padding-left: 0 !important;
}
@media only all and (max-width: 767px) {
  /* line 19, ../scss/_mixins.scss */
  .no-pad-left {
    padding-right: 0;
  }
}

/* line 23, ../scss/_mixins.scss */
.no-pad-right {
  padding-right: 0 !important;
}
@media only all and (max-width: 767px) {
  /* line 23, ../scss/_mixins.scss */
  .no-pad-right {
    padding-left: 0;
  }
}

@media only all and (max-width: 767px) {
  /* line 27, ../scss/_mixins.scss */
  .no-pad-mobile {
    padding: 0 !important;
  }
}

/* line 32, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 36, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 39, ../scss/_mixins.scss */
.pad-content {
  padding: 10px 0;
}

/* line 42, ../scss/_mixins.scss */
.pad-none {
  padding: 0;
}

/* line 45, ../scss/_mixins.scss */
.width-100 {
  width: 100%;
}

/* line 48, ../scss/_mixins.scss */
.media img {
  width: 100%;
  height: auto;
}

/* line 52, ../scss/_mixins.scss */
.pos-abs {
  position: absolute;
}

/* line 55, ../scss/_mixins.scss */
.pos-rel {
  position: relative;
}

/* line 58, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 75, ../scss/_mixins.scss */
.thumbnail img, #social-nav a img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale") !important;
  /* Firefox 10+, Firefox on Android */
  filter: gray !important;
  /* IE6-9 */
  -webkit-filter: grayscale(100%) !important;
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* line 80, ../scss/_mixins.scss */
.thumbnail:hover img, .thumbnail:focus img, #social-nav a:hover img {
  filter: none !important;
  /* Applies to FF + IE */
  -webkit-filter: grayscale(0) !important;
}

/* line 109, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 124, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 128, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 132, ../scss/_mixins.scss */
.navbar > .container {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 135, ../scss/_mixins.scss */
.design-slider {
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

/* line 147, ../scss/_mixins.scss */
.form-control:focus {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* line 3, ../scss/_social.scss */
#social-nav {
  position: relative;
}
/* line 6, ../scss/_social.scss */
#social-nav ul {
  position: absolute;
  top: -37px;
  right: 0px;
}
@media only all and (max-width: 991px) {
  /* line 6, ../scss/_social.scss */
  #social-nav ul {
    top: -34px;
  }
}
@media only all and (max-width: 767px) {
  /* line 6, ../scss/_social.scss */
  #social-nav ul {
    right: 60px;
  }
}
/* line 18, ../scss/_social.scss */
#social-nav ul li {
  padding-left: 0;
  padding-right: 5px;
}
@media only all and (max-width: 1199px) {
  /* line 18, ../scss/_social.scss */
  #social-nav ul li {
    padding-right: 4px;
  }
}
@media only all and (max-width: 767px) {
  /* line 18, ../scss/_social.scss */
  #social-nav ul li {
    padding-right: 3px;
  }
}
/* line 30, ../scss/_social.scss */
#social-nav img {
  width: 22px;
  height: 22px;
}
@media only all and (max-width: 1199px) {
  /* line 30, ../scss/_social.scss */
  #social-nav img {
    width: 21px;
    height: 21px;
  }
}
@media only all and (max-width: 991px) {
  /* line 30, ../scss/_social.scss */
  #social-nav img {
    width: 17px;
    height: 17px;
  }
}
/* line 44, ../scss/_social.scss */
#social-nav a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  opacity: 0.68;
  -webkit-transition: filter, 0.5s;
  -moz-transition: filter, 0.5s;
  -o-transition: filter, 0.5s;
  transition: filter, 0.5s;
}
/* line 51, ../scss/_social.scss */
#social-nav a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: filter, 0.25s;
  -moz-transition: filter, 0.25s;
  -o-transition: filter, 0.25s;
  transition: filter, 0.25s;
}

@media only all and (max-width: 767px) {
  /* line 4, ../scss/_cherry-blossoms.scss */
  #cherry-blossom-main, .blog #cherry-blossom-main {
    height: 1100px;
    width: 930px !important;
    background-position: -379px -247px !important;
    background-size: contain !important;
    left: 0 !important;
    top: 0 !important;
  }
}
@media only all and (max-width: 479px) {
  /* line 4, ../scss/_cherry-blossoms.scss */
  #cherry-blossom-main, .blog #cherry-blossom-main {
    width: 560px !important;
    background-position: -201px -110px !important;
    left: 0 !important;
    top: 0 !important;
  }
}

/* line 21, ../scss/_cherry-blossoms.scss */
.cherry-blossom {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  pointer-events: none;
  z-index: -1;
}
@media only all and (max-width: 767px) {
  /* line 21, ../scss/_cherry-blossoms.scss */
  .cherry-blossom {
    position: absolute;
    z-index: 21;
  }
}

/* line 37, ../scss/_cherry-blossoms.scss */
#cherry-blossom-inv {
  background: url('/wp-content/themes/jn-wpbs/assets/img/cherry-blossom-shadow-inv.png?1394366123');
  background-position: 350px -200px;
  background-repeat: no-repeat;
  height: 1100px;
  width: 100%;
}

/* line 45, ../scss/_cherry-blossoms.scss */
#cherry-blossom-center {
  background: url('/wp-content/themes/jn-wpbs/assets/img/cherry-blossom.png?1388933978');
  background-position: 0 -300px;
  background-repeat: no-repeat;
  height: 1100px;
  width: 100%;
  z-index: 9999;
}

/* line 54, ../scss/_cherry-blossoms.scss */
#cherry-blossom-main {
  background: url('/wp-content/themes/jn-wpbs/assets/img/cherry-blossom-shadow.png?1389436022');
  background-position: -720px -80px;
  background-repeat: no-repeat;
  height: 1100px;
  width: 100%;
}
@media only all and (max-width: 991px) {
  /* line 54, ../scss/_cherry-blossoms.scss */
  #cherry-blossom-main {
    background-position: -760px -113px;
  }
}

/* line 69, ../scss/_cherry-blossoms.scss */
.above-header {
  overflow: visible;
  height: 500px;
}
@media only all and (max-width: 767px) {
  /* line 69, ../scss/_cherry-blossoms.scss */
  .above-header {
    height: 190px;
  }
}
@media only all and (max-width: 479px) {
  /* line 69, ../scss/_cherry-blossoms.scss */
  .above-header {
    height: 180px;
  }
}
/* line 81, ../scss/_cherry-blossoms.scss */
.above-header h1 {
  margin-top: 37px;
  padding: 15px;
  position: absolute;
  top: 0;
  left: auto !important;
  right: 0;
  font-size: 91px;
}
@media only all and (max-width: 1199px) {
  /* line 81, ../scss/_cherry-blossoms.scss */
  .above-header h1 {
    font-size: 65px;
  }
}
@media only all and (max-width: 767px) {
  /* line 81, ../scss/_cherry-blossoms.scss */
  .above-header h1 {
    font-size: 52px;
    top: 155px !important;
  }
}
@media only all and (max-width: 479px) {
  /* line 81, ../scss/_cherry-blossoms.scss */
  .above-header h1 {
    margin-left: 0;
    padding: 0;
    right: auto;
    left: 0;
    top: 170px !important;
  }
}

/* line 108, ../scss/_cherry-blossoms.scss */
#above-header-container {
  height: 100%;
  position: relative;
}

/* 
 * 	Home
 */
@media only all and (max-width: 479px) {
  /* line 7, ../scss/_page-specific.scss */
  .home .above-header {
    height: 197px;
  }
}
@media only all and (max-width: 319px) {
  /* line 7, ../scss/_page-specific.scss */
  .home .above-header {
    height: 257px;
  }
}
@media only all and (max-width: 767px) {
  /* line 15, ../scss/_page-specific.scss */
  .home #cherry-blossom-main {
    background-position: -321px -227px !important;
  }
}
@media only all and (max-width: 479px) {
  /* line 15, ../scss/_page-specific.scss */
  .home #cherry-blossom-main {
    width: 740px !important;
    background-position: -321px -117px !important;
  }
}
@media only all and (max-width: 767px) {
  /* line 24, ../scss/_page-specific.scss */
  .home .entry-content {
    padding: 0;
  }
}
@media only all and (max-width: 479px) {
  /* line 24, ../scss/_page-specific.scss */
  .home .entry-content {
    margin-top: -15px;
  }
}
/* line 32, ../scss/_page-specific.scss */
.home .main-content {
  padding-top: 115px;
}
@media only all and (max-width: 1199px) {
  /* line 32, ../scss/_page-specific.scss */
  .home .main-content {
    padding-top: 80px;
  }
}
@media only all and (max-width: 767px) {
  /* line 32, ../scss/_page-specific.scss */
  .home .main-content {
    padding-top: 0px;
  }
}
/* line 42, ../scss/_page-specific.scss */
.home .main-content-inner span {
  color: #bf7485;
}

/* line 46, ../scss/_page-specific.scss */
.col-page-left {
  padding: 0 30px 10px 10px;
}
@media only all and (max-width: 1199px) {
  /* line 46, ../scss/_page-specific.scss */
  .col-page-left {
    padding: 0 20px 10px 10px !important;
  }
}
@media only all and (max-width: 991px) {
  /* line 46, ../scss/_page-specific.scss */
  .col-page-left {
    padding: 0 15px 10px 10px !important;
  }
}
@media only all and (max-width: 767px) {
  /* line 46, ../scss/_page-specific.scss */
  .col-page-left {
    padding: 10px 0 !important;
  }
}

/* line 59, ../scss/_page-specific.scss */
.hero-right {
  margin-bottom: 40px;
}
@media only all and (max-width: 767px) {
  /* line 59, ../scss/_page-specific.scss */
  .hero-right {
    margin-bottom: 0;
  }
}

/* 
 * 	Blog 
 */
@media only all and (max-width: 767px) {
  /* line 76, ../scss/_page-specific.scss */
  .blog .page-header {
    margin: 80px 0 0;
  }
}
@media only all and (max-width: 479px) {
  /* line 76, ../scss/_page-specific.scss */
  .blog .page-header {
    margin: 50px 0 0;
  }
}
/* line 84, ../scss/_page-specific.scss */
.blog .main-content-inner {
  /* .post .page-title {
      @include max_tablet {
          text-align: left;
      }
  } */
}
/* line 85, ../scss/_page-specific.scss */
.blog .main-content-inner h2 a {
  color: white;
}
/* line 87, ../scss/_page-specific.scss */
.blog .main-content-inner h2 a:hover {
  color: #ccc;
}
@media only all and (max-width: 767px) {
  /* line 91, ../scss/_page-specific.scss */
  .blog .main-content-inner .page-title {
    text-align: right;
  }
}
@media only all and (max-width: 479px) {
  /* line 91, ../scss/_page-specific.scss */
  .blog .main-content-inner .page-title {
    text-align: left;
  }
}
@media only all and (min-width: 768px) {
  /* line 105, ../scss/_page-specific.scss */
  .blog .main-content-inner h2 a {
    font-size: 49px;
  }
}
@media only all and (max-width: 767px) {
  /* line 110, ../scss/_page-specific.scss */
  .blog .main-content-inner h1 {
    margin-top: 23px;
  }
  /* line 113, ../scss/_page-specific.scss */
  .blog .main-content-inner h2 a {
    font-size: 37px;
  }
}
/* line 118, ../scss/_page-specific.scss */
.blog #cherry-blossom-main {
  background-position: 70% -84px;
}

/* 
 * 	Responsive 
 */
/* line 130, ../scss/_page-specific.scss */
.mq-thumbs-container {
  position: relative;
  margin-bottom: 10px;
}

/* line 135, ../scss/_page-specific.scss */
#mq-thumbs-b, #mq-thumbs-c {
  position: absolute;
  top: 0;
}

/* line 140, ../scss/_page-specific.scss */
.mq-list {
  padding-bottom: 30px;
}
@media only all and (max-width: 767px) {
  /* line 140, ../scss/_page-specific.scss */
  .mq-list {
    padding-bottom: 0px;
  }
}
/* line 146, ../scss/_page-specific.scss */
.mq-list li {
  margin-right: 18px;
  padding: 0;
}
@media only all and (max-width: 1199px) {
  /* line 146, ../scss/_page-specific.scss */
  .mq-list li {
    margin-right: 15px;
  }
}
@media only all and (max-width: 991px) {
  /* line 146, ../scss/_page-specific.scss */
  .mq-list li {
    margin-right: 10px;
  }
}
@media only all and (max-width: 767px) {
  /* line 146, ../scss/_page-specific.scss */
  .mq-list li {
    margin-right: 0.9%;
  }
}
/* line 166, ../scss/_page-specific.scss */
.mq-list .smartphone {
  width: 8.1%;
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  /* line 166, ../scss/_page-specific.scss */
  .mq-list .smartphone {
    width: 8%;
  }
}
@media only all and (max-width: 767px) {
  /* line 166, ../scss/_page-specific.scss */
  .mq-list .smartphone {
    width: 8.1%;
  }
}
/* line 175, ../scss/_page-specific.scss */
.mq-list .tablet {
  width: 19.5%;
}
@media only all and (max-width: 767px) {
  /* line 175, ../scss/_page-specific.scss */
  .mq-list .tablet {
    width: 19.4%;
  }
}
/* line 181, ../scss/_page-specific.scss */
.mq-list .netbook {
  width: 25.9%;
}
/* line 184, ../scss/_page-specific.scss */
.mq-list .desktop {
  margin-right: 0;
  width: 40.5%;
}

/* 
 *  Contact 
 */
/* line 197, ../scss/_page-specific.scss */
.cscfForm p {
  font-size: 17px;
}
/* line 200, ../scss/_page-specific.scss */
.cscfForm label {
  font-size: 16px;
}
/* line 203, ../scss/_page-specific.scss */
.cscfForm textarea {
  resize: none !important;
}

/* line 207, ../scss/_page-specific.scss */
.form-control {
  color: #FFFFFF;
  border: 0 dotted #333;
  background-color: #222;
  letter-spacing: 1px;
}
/* line 212, ../scss/_page-specific.scss */
.form-control:focus {
  border: 2px dotted #444;
}

/* 
 * 	All Pages
 */
/* line 226, ../scss/_page-specific.scss */
.home .main-content-inner, .page-id-21 .main-content-inner {
  margin: 5px;
}
@media only all and (max-width: 767px) {
  /* line 226, ../scss/_page-specific.scss */
  .home .main-content-inner, .page-id-21 .main-content-inner {
    margin: 10px;
  }
}

/* line 234, ../scss/_page-specific.scss */
.page-id-21 h3 {
  padding: 10px 0;
  font-size: 37px;
}

/* line 241, ../scss/_page-specific.scss */
.single .main-content-inner, .blog .main-content-inner {
  margin: 15px;
}
@media only all and (max-width: 767px) {
  /* line 241, ../scss/_page-specific.scss */
  .single .main-content-inner, .blog .main-content-inner {
    margin: 10px;
  }
}

/* line 248, ../scss/_page-specific.scss */
.single #scroll-down {
  display: none !important;
}

@media only all and (max-width: 799px) {
  /* line 252, ../scss/_page-specific.scss */
  #scroll-down {
    zoom: 60% !important;
  }
}
/* line 258, ../scss/_page-specific.scss */
.home .hentry, .blog .hentry, .page-id-21 .hentry {
  margin: 0;
}
/* line 261, ../scss/_page-specific.scss */
.home .post, .blog .post, .page-id-21 .post {
  margin-top: -10px;
}

/* line 265, ../scss/_page-specific.scss */
.entry-content {
  padding: 15px 3px;
}
/* line 267, ../scss/_page-specific.scss */
.entry-content p {
  margin-bottom: 15px;
  text-shadow: 0px 2px 3px black;
}
@media only all and (max-width: 991px) {
  /* line 267, ../scss/_page-specific.scss */
  .entry-content p {
    font-size: 15px;
    line-height: 21px;
  }
}
/* line 275, ../scss/_page-specific.scss */
.entry-content img {
  margin: 10px 0 30px;
}

/* line 284, ../scss/_page-specific.scss */
.credits {
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 5px !important;
}
/* line 289, ../scss/_page-specific.scss */
.credits td {
  padding: 3px !important;
}
@media only all and (max-width: 1199px) {
  /* line 293, ../scss/_page-specific.scss */
  .credits td {
    padding: 1px !important;
  }
}
/* line 297, ../scss/_page-specific.scss */
.credits a {
  padding-left: 10px;
}

/* line 301, ../scss/_page-specific.scss */
.description {
  margin-bottom: 10px;
}
@media only all and (max-width: 767px) {
  /* line 301, ../scss/_page-specific.scss */
  .description {
    margin-top: 20px;
  }
}
/* line 308, ../scss/_page-specific.scss */
.description button {
  margin-top: 5px;
}
@media only all and (max-width: 767px) {
  /* line 308, ../scss/_page-specific.scss */
  .description button {
    margin-top: 10px;
  }
}
/* line 315, ../scss/_page-specific.scss */
.description strong {
  color: white;
}

/* line 319, ../scss/_page-specific.scss */
.media {
  margin-bottom: 30px;
}
@media only all and (max-width: 767px) {
  /* line 319, ../scss/_page-specific.scss */
  .media {
    margin-bottom: 0px;
  }
}
/* line 326, ../scss/_page-specific.scss */
.media p {
  margin: 0;
}
/* line 329, ../scss/_page-specific.scss */
.media img {
  margin: 0;
}
/* line 333, ../scss/_page-specific.scss */
.media object {
  margin-right: 10px !important;
  margin-bottom: 15px !important;
}

/* line 338, ../scss/_page-specific.scss */
.single-programmer .media {
  margin-bottom: 20px;
}

/* line 343, ../scss/_page-specific.scss */
.home .page-content span {
  color: white;
}
/* line 346, ../scss/_page-specific.scss */
.home .page-content button {
  margin-top: 5px;
}

/* line 355, ../scss/_page-specific.scss */
.page-id-21 #cherry-blossoms {
  z-index: 999;
}

/* 
 *  Soliloquy Slider 
 */
/* line 6, ../scss/_wp-plugins.scss */
.soliloquy-container img {
  width: 100%;
  height: auto;
}
/* line 10, ../scss/_wp-plugins.scss */
.soliloquy-container .soliloquy-direction-nav {
  display: block !important;
}
/* line 13, ../scss/_wp-plugins.scss */
.soliloquy-container .soliloquy-control-nav, .soliloquy-container .soliloquy-prev, .soliloquy-container .soliloquy-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity, 0.5s;
  -moz-transition: opacity, 0.5s;
  -o-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
}
/* line 18, ../scss/_wp-plugins.scss */
.soliloquy-container:hover .soliloquy-control-nav, .soliloquy-container:hover .soliloquy-prev, .soliloquy-container:hover .soliloquy-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity, 0.5s;
  -moz-transition: opacity, 0.5s;
  -o-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
}

/* line 25, ../scss/_wp-plugins.scss */
.design-slider {
  margin: 26px 0;
}

/* 
 *  Twitter feed 
 */
@media only all and (max-width: 991px) {
  /* line 35, ../scss/_wp-plugins.scss */
  .kmeta {
    font-size: 15px;
  }
}

/* line 40, ../scss/_wp-plugins.scss */
.ktext {
  line-height: 21px !important;
  margin: 15px 0 !important;
  color: #999 !important;
}
@media only all and (max-width: 991px) {
  /* line 40, ../scss/_wp-plugins.scss */
  .ktext {
    line-height: 17px !important;
  }
}

/* 
 *  Contact Form 
 */
/* line 56, ../scss/_wp-plugins.scss */
.cscfForm > p {
  margin-bottom: 20px;
}
/* line 59, ../scss/_wp-plugins.scss */
.cscfForm label {
  margin-bottom: 10px;
  color: #bf7485;
}

/* line 65, ../scss/_wp-plugins.scss */
#frmCSCF .btn {
  border: #b12e4f;
  background-color: #b12e4f;
  color: white;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}
/* line 70, ../scss/_wp-plugins.scss */
#frmCSCF .btn:hover {
  background-color: #bf7485;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}

/* 
 *  Calendar
 */
/* line 81, ../scss/_wp-plugins.scss */
#calendar_wrap {
  padding: 0;
}
/* line 84, ../scss/_wp-plugins.scss */
#calendar_wrap .table-striped > tbody > tr:nth-child(odd) > td, #calendar_wrap .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #222;
}
/* line 87, ../scss/_wp-plugins.scss */
#calendar_wrap .table > thead > tr > th, #calendar_wrap .table > tbody > tr > th, #calendar_wrap .table > tfoot > tr > th, #calendar_wrap .table > thead > tr > td, #calendar_wrap .table > tbody > tr > td, #calendar_wrap .table > tfoot > tr > td {
  border-top: 1px solid #444;
}
/* line 90, ../scss/_wp-plugins.scss */
#calendar_wrap caption {
  color: #bf7485;
  margin-bottom: 10px;
}

/* 
 *  Kebo Tweets
 */
/* line 102, ../scss/_wp-plugins.scss */
.kebo-tweets a.kaccount, .kebo-tweets a.kdate {
  font-size: 96% !important;
}

/*  
 *  Mailchimp Email Signup 
 */
/* line 112, ../scss/_wp-plugins.scss */
#mc_signup {
  padding: 0 !important;
}
/* line 114, ../scss/_wp-plugins.scss */
#mc_signup .mergeRow {
  display: none !important;
  padding: 0 !important;
}
/* line 118, ../scss/_wp-plugins.scss */
#mc_signup form {
  padding: 0 !important;
}

/* line 122, ../scss/_wp-plugins.scss */
#mc_signup_submit {
  margin-top: 0;
  width: 100% !important;
  background: #b12e4f;
  padding: 10px;
  margin-top: 0 !important;
  border: 0;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}
/* line 132, ../scss/_wp-plugins.scss */
#mc_signup_submit:hover {
  background-color: #d15070;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}

/* line 137, ../scss/_wp-plugins.scss */
.mc_success_msg {
  color: #bf7485;
}

/* line 140, ../scss/_wp-plugins.scss */
#mc_message {
  margin-bottom: 15px;
  margin-top: -2px;
}

/* line 19, ../scss/custom.scss */
html, body {
  overflow-x: hidden;
}

/* line 22, ../scss/custom.scss */
body {
  padding: 0;
  background: #000;
  background-color: #000;
  overflow: hidden;
}

/* line 28, ../scss/custom.scss */
article {
  padding-left: 0 !important;
}

/* line 38, ../scss/custom.scss */
pre {
  color: #666;
  margin: 30px 0;
}

/* line 42, ../scss/custom.scss */
time {
  color: #999;
}

/* line 45, ../scss/custom.scss */
table {
  border-spacing: 0 !important;
  border-color: transparent !important;
}

/* line 49, ../scss/custom.scss */
a {
  color: #bf7485;
}
/* line 51, ../scss/custom.scss */
a:hover, a:focus {
  color: #d4a1ad;
}

/* line 56, ../scss/custom.scss */
a:hover {
  text-decoration: none !important;
}

/* line 59, ../scss/custom.scss */
:focus, a:focus {
  outline: -webkit-focus-ring-color auto 0;
}

/* line 63, ../scss/custom.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

@media only all and (max-width: 767px) {
  /* line 67, ../scss/custom.scss */
  .container {
    padding: 0 25px 5px;
  }
}

/* line 73, ../scss/custom.scss */
.page-header {
  border: 0;
  margin: 20px 0 0;
  padding-bottom: 0;
}
@media only all and (max-width: 767px) {
  /* line 73, ../scss/custom.scss */
  .page-header {
    margin: 60px 0 0;
  }
}
@media only all and (max-width: 479px) {
  /* line 73, ../scss/custom.scss */
  .page-header {
    margin: 40px 0 0;
  }
}
@media only all and (max-width: 991px) {
  /* line 84, ../scss/custom.scss */
  .page-header .page-title {
    margin-bottom: 20px;
  }
}
@media only all and (max-width: 767px) {
  /* line 84, ../scss/custom.scss */
  .page-header .page-title {
    margin-bottom: 20px;
    text-align: right;
  }
}
@media only all and (max-width: 479px) {
  /* line 84, ../scss/custom.scss */
  .page-header .page-title {
    text-align: left;
  }
}

@media only all and (max-width: 767px) {
  /* line 97, ../scss/custom.scss */
  .single .page-header h1 {
    text-align: left;
    margin: 10px 0 20px;
  }
}

@media only all and (max-width: 767px) {
  /* line 103, ../scss/custom.scss */
  .single .page-header {
    margin: 0 !important;
  }
}

/* line 112, ../scss/custom.scss */
.hentry {
  margin: 10px;
}

/* line 115, ../scss/custom.scss */
.post {
  margin: 0 0 40px 0;
}

/* line 118, ../scss/custom.scss */
.entry-meta {
  margin-bottom: 20px;
  line-height: 150%;
}

/* line 122, ../scss/custom.scss */
.main-content {
  padding-top: 85px;
  padding-bottom: 20px;
}
@media only all and (max-width: 1199px) {
  /* line 122, ../scss/custom.scss */
  .main-content {
    padding-top: 75px;
    padding-bottom: 10px;
  }
}
@media only all and (max-width: 991px) {
  /* line 122, ../scss/custom.scss */
  .main-content {
    padding-top: 70px;
    padding-bottom: 10px;
  }
}
@media only all and (max-width: 767px) {
  /* line 122, ../scss/custom.scss */
  .main-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
/* line 140, ../scss/custom.scss */
.main-content > .container {
  padding: 0;
}
@media only all and (max-width: 767px) {
  /* line 140, ../scss/custom.scss */
  .main-content > .container {
    background-color: transparent;
    padding: 0 15px;
  }
}

/* line 149, ../scss/custom.scss */
.main-content-inner {
  padding-bottom: 0;
}
/* line 152, ../scss/custom.scss */
.main-content-inner section {
  height: auto;
  min-height: 0;
  max-height: 500px;
  padding: 9px 0;
}
@media only all and (max-width: 767px) {
  /* line 159, ../scss/custom.scss */
  .main-content-inner .col-sm-6 {
    padding: 0;
  }
}

/* line 165, ../scss/custom.scss */
.content {
  margin-left: 15px;
  margin-right: 15px;
}
@media only all and (max-width: 767px) {
  /* line 165, ../scss/custom.scss */
  .content {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 176, ../scss/custom.scss */
.image img {
  width: 100% !important;
  height: auto !important;
}
@media only all and (max-width: 991px) {
  /* line 173, ../scss/custom.scss */
  .image {
    width: 100%;
  }
  /* line 183, ../scss/custom.scss */
  .image img {
    width: 100% !important;
  }
}

/* line 189, ../scss/custom.scss */
#avatar {
  width: 17px;
  height: 17px;
  margin-top: 1px;
  margin-right: 13px;
}

/* line 196, ../scss/custom.scss */
.col-content {
  padding-left: 0px;
  padding-right: 50px;
  overflow: hidden;
}
/* line 201, ../scss/custom.scss */
.col-content ul {
  list-style: disc !important;
}
@media only all and (max-width: 991px) {
  /* line 196, ../scss/custom.scss */
  .col-content {
    padding-right: 40px;
  }
}
@media only all and (max-width: 767px) {
  /* line 196, ../scss/custom.scss */
  .col-content {
    padding-right: 0;
  }
}

/* line 213, ../scss/custom.scss */
#scroll-down {
  zoom: 80%;
  width: 100px;
  height: 78px;
  margin-left: -50px;
  margin-bottom: 10px;
  background: url('/wp-content/themes/jn-wpbs/assets/img/scroll-down.png?1394254133');
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 9999;
}

/* line 227, ../scss/custom.scss */
.bg-img, .bg-img img {
  width: 100% !important;
  z-index: -1;
}

/* line 232, ../scss/custom.scss */
.img-responsive {
  width: 100%;
  max-width: auto !important;
}

/* line 237, ../scss/custom.scss */
#mc_signup_form {
  background-color: transparent !important;
}

/* line 243, ../scss/custom.scss */
.fa-desktop {
  line-height: 21px;
}

/* line 246, ../scss/custom.scss */
.fa-globe {
  line-height: 19px;
}

/* line 249, ../scss/custom.scss */
.fa-responsive {
  margin-right: 5px;
}

/* line 256, ../scss/custom.scss */
.sidebar {
  padding: 10px 10px 30px 50px;
  margin-top: 25px;
}
@media only all and (max-width: 991px) {
  /* line 256, ../scss/custom.scss */
  .sidebar {
    padding: 0 10px 0 30px;
  }
}
@media only all and (max-width: 767px) {
  /* line 256, ../scss/custom.scss */
  .sidebar {
    padding: 20px 0;
  }
}
/* line 267, ../scss/custom.scss */
.sidebar h3 {
  padding: 0 0 10px;
  margin: 0 !important;
}
/* line 271, ../scss/custom.scss */
.sidebar .nav > li > a {
  padding: 10px 0;
}

/* line 275, ../scss/custom.scss */
.blog .sidebar {
  margin-top: 10px;
}

/* line 281, ../scss/custom.scss */
.modal {
  top: 10%;
}

/* line 285, ../scss/custom.scss */
#update-browser {
  width: 0;
  height: 0;
  z-index: -999999999999;
}

/* line 291, ../scss/custom.scss */
.ie8 #update-browser {
  display: block !important;
  visibility: visible !important;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  z-index: 999999999999;
  padding: 30px;
}
/* line 301, ../scss/custom.scss */
.ie8 #update-browser a {
  font-size: 37px;
  line-height: 47px;
}

/*
 *  Admin Menu 
 */
/* line 312, ../scss/custom.scss */
#adminmenu #menu-posts-design .wp-menu-image:before {
  content: '\f85' !important;
}
