/*
 *	CUSTOM SCSS
 */
/* Imports */
/* line 17, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Nav */
/* Body */
/* Spacers */
/* Colors */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Nav */
/* Body */
/* Spacers */
/* Colors */
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 9, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 13, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 40, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 55, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 59, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 63, ../scss/_mixins.scss */
.image, .sidebar, .thumbnail .thumb-content, .mq-list li {
  -webkit-box-shadow: 0px 2px 30px black;
  -moz-box-shadow: 0px 2px 30px black;
  box-shadow: 0px 2px 30px black;
}

/* line 4, ../scss/_overrides.scss */
:focus, a:focus {
  outline: -webkit-focus-ring-color auto 0;
}

/* line 8, ../scss/_overrides.scss */
a {
  color: #0074a2;
}
/* line 10, ../scss/_overrides.scss */
a:hover {
  color: #2ea2cc;
}

/* line 14, ../scss/_overrides.scss */
a:hover {
  text-decoration: none !important;
}

/* line 18, ../scss/_overrides.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

@media only all and (max-width: 767px) {
  /* line 22, ../scss/_overrides.scss */
  .container {
    padding: 0 25px 5px;
  }
}

/* line 29, ../scss/_overrides.scss */
.modal {
  top: 10%;
}

/* line 32, ../scss/_overrides.scss */
.page-header {
  border: 0;
  margin: 40px 0 0;
  padding-bottom: 0;
}

/* line 37, ../scss/_overrides.scss */
.post {
  margin: 0 0 20px 0;
}

/* line 47, ../scss/_overrides.scss */
pre {
  color: #666;
  margin: 30px 0;
}

/* line 51, ../scss/_overrides.scss */
time {
  color: #999;
}

/*
 * TYPOGRAPHY
 */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 9, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 13, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 40, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 55, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 59, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 63, ../scss/_mixins.scss */
.image, .sidebar, .thumbnail .thumb-content, .mq-list li {
  -webkit-box-shadow: 0px 2px 30px black;
  -moz-box-shadow: 0px 2px 30px black;
  box-shadow: 0px 2px 30px black;
}

@font-face {
  font-family: "Raleway Dots";
  src: url('/wp-content/themes/jn-wpbs/assets/fonts/RalewayDots-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Dosis";
  src: url('/wp-content/themes/jn-wpbs/assets/fonts/Dosis-Regular.ttf') format('truetype');
}

/*
 *	BASICS
 */
/* line 29, ../scss/_typography.scss */
body {
  font-family: "Dosis", sans-serif;
  color: #ccc;
}

/* line 33, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway Dots", sans-serif;
  text-transform: uppercase;
  color: white;
}
/* line 37, ../scss/_typography.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #999;
}
/* line 40, ../scss/_typography.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* line 44, ../scss/_typography.scss */
h1 {
  font-size: 60px;
  margin-bottom: 30px;
  margin-left: -4px;
}
@media screen and (max-width: 1200px) {
  /* line 44, ../scss/_typography.scss */
  h1 {
    font-size: 49px;
  }
}
/* line 55, ../scss/_typography.scss */
h1 a {
  color: #2ea2cc;
}
/* line 57, ../scss/_typography.scss */
h1 a:hover {
  color: white;
}

/* line 62, ../scss/_typography.scss */
h2 {
  font-size: 230%;
}

/* line 67, ../scss/_typography.scss */
h3 {
  margin: 0px 0 15px 0;
  padding: 5px 7px 5px;
  font-size: 130%;
  line-height: 130%;
  letter-spacing: 1px;
    /* @include transition (background, 0.75s);
    @include transition (padding, 0.75s);

    &:hover {
        background-color: $blue;
        padding-top: 20px;
        @include transition (background, 0.2s);
        @include transition (padding, 0.2s);
    } */
}

/* line 86, ../scss/_typography.scss */
h3 {
  font-size: 130%;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

/* line 90, ../scss/_typography.scss */
a {
  -webkit-transition: color, 0.25s;
  -moz-transition: color, 0.25s;
  -o-transition: color, 0.25s;
  transition: color, 0.25s;
}
/* line 92, ../scss/_typography.scss */
a:hover {
  -webkit-transition: color, 0.25s;
  -moz-transition: color, 0.25s;
  -o-transition: color, 0.25s;
  transition: color, 0.25s;
}

/* line 96, ../scss/_typography.scss */
p {
  color: #aaa;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 100;
  letter-spacing: 1px;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Logo */
/* line 4, ../scss/_navbar.scss */
.navbar-brand {
  padding: 15px 30px 0 15px;
}

/* line 7, ../scss/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: #2ea2cc;
}

/* Navbar */
/* line 13, ../scss/_navbar.scss */
.navbar-nav {
  margin: 0 0 0 -15px;
}

/* line 16, ../scss/_navbar.scss */
#nav-row {
  height: 50px;
  background-color: #000;
  z-index: 999;
  position: fixed;
}

@media only all and (max-width: 767px) {
  /* line 24, ../scss/_navbar.scss */
  .nav > li > a {
    padding: 0 0 15px 15px;
  }
}
/* line 29, ../scss/_navbar.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/* line 34, ../scss/_navbar.scss */
.navbar {
  margin-bottom: -150px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}
/* line 39, ../scss/_navbar.scss */
.navbar a {
  font-size: 15px;
  letter-spacing: 3px;
}
/* line 43, ../scss/_navbar.scss */
.navbar a.active {
  color: white !important;
}

/* line 49, ../scss/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

/* line 53, ../scss/_navbar.scss */
.navbar-inverse {
  background-color: black;
  border: 0;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* .navbar-collapse{
    border: 0 !important;
    border-color: transparent !important;
    border-top: 0 !important;
} */
/* Buttons */
/* line 67, ../scss/_navbar.scss */
.btn-primary {
  background-color: #0074a2;
  border-color: #0074a2;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}

/* line 72, ../scss/_navbar.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #2ea2cc;
  border-color: #2ea2cc;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}

/* Affix */
/* line 79, ../scss/_navbar.scss */
#home .affix {
  width: 100%;
  top: 0;
}

/* line 83, ../scss/_navbar.scss */
#home .affix-top {
  margin-top: -50px;
}
@media only all and (max-width: 767px) {
  /* line 83, ../scss/_navbar.scss */
  #home .affix-top {
    margin-top: 0;
  }
}

/* line 91, ../scss/_navbar.scss */
#standard .affix,
#standard .affix-top {
  width: 100%;
  position: fixed;
}

/* Responsive: Portrait mobile and below */
@media screen and (max-width: 768px) {
  /* line 99, ../scss/_navbar.scss */
  .affix-top {
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0;
  }

  /* Logo */
  /* line 106, ../scss/_navbar.scss */
  .navbar-brand {
    padding-left: 15px;
  }

  /* line 109, ../scss/_navbar.scss */
  .navbar-collapse {
    background-color: #000;
  }
}
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 9, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 13, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 40, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 55, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 59, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 63, ../scss/_mixins.scss */
.image, .sidebar, .thumbnail .thumb-content, .mq-list li {
  -webkit-box-shadow: 0px 2px 30px black;
  -moz-box-shadow: 0px 2px 30px black;
  box-shadow: 0px 2px 30px black;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* line 4, ../scss/_sections.scss */
.row-content {
  overflow: hidden;
  position: relative;
}

/* line 11, ../scss/_sections.scss */
section {
  height: 700px;
  min-height: 700px;
  max-height: 650px;
  padding: 90px 0;
}
@media only all and (max-width: 767px) {
  /* line 11, ../scss/_sections.scss */
  section {
    padding: 40px 0;
  }
}
/* line 21, ../scss/_sections.scss */
section .col-sm-5, section .col-md-6 {
  padding-left: 0;
}

/* Masthead row above navigation */
/* line 27, ../scss/_sections.scss */
#row-masthead {
  height: 600px;
}
@media only all and (max-width: 1199px) {
  /* line 27, ../scss/_sections.scss */
  #row-masthead {
    height: 600px;
  }
}
@media only all and (max-width: 479px) {
  /* line 27, ../scss/_sections.scss */
  #row-masthead {
    display: none;
  }
}

/* .content {
    background-attachment: fixed;

    @include max_tablet {
        width: 50%;
    }
    @include max_phone {
        width: 100%;
        padding-left:  0px;
        padding-right: 0px;
    }
} */
/* Sections */
/* line 54, ../scss/_sections.scss */
#section-1 {
  height: 600px;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-black.jpg?1385356639');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}
@media only all and (max-width: 1199px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 520px;
  }
}
@media only all and (max-width: 991px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 610px;
  }
}
@media only all and (max-width: 767px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 550px;
  }
}
@media only all and (max-width: 479px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    margin-top: 100px;
  }
}

/* line 77, ../scss/_sections.scss */
#section-2 {
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-dkblue.jpg?1385356639');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 83, ../scss/_sections.scss */
#section-3 {
  background-color: #6d838e;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-grey.jpg?1385356639');
  background-color: black;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 91, ../scss/_sections.scss */
#section-4 {
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-red.jpg?1385356640');
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
}

/* Spaceshio */
/* line 105, ../scss/_sections.scss */
#ship {
  position: absolute;
  top: 10px;
  left: auto !important;
  right: -60px;
  z-index: 999;
}
@media only all and (max-width: 1199px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    right: -120px;
  }
}
@media only all and (max-width: 991px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 74%;
    right: -140px;
  }
}
@media only all and (max-width: 767px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 64%;
    height: auto;
  }
}
@media only all and (max-width: 479px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 100%;
    height: auto;
    margin-top: -220px;
  }
}

@media only all and (max-width: 767px) {
  /* line 136, ../scss/_sections.scss */
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    background-attachment: scroll;
    background-position: 0 0 !important;
  }
}
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 9, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 13, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 40, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 55, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 59, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 63, ../scss/_mixins.scss */
.image, .sidebar, .thumbnail .thumb-content, .mq-list li {
  -webkit-box-shadow: 0px 2px 30px black;
  -moz-box-shadow: 0px 2px 30px black;
  box-shadow: 0px 2px 30px black;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* line 4, ../scss/_pages.scss */
.portfolio-desc {
  padding: 15px 0 45px 0;
}

/* line 9, ../scss/_pages.scss */
.single-portfolio .wrap, .main-content-inner .wrap {
  height: 350px;
  padding-top: 0 !important;
}
@media only all and (max-width: 991px) {
  /* line 9, ../scss/_pages.scss */
  .single-portfolio .wrap, .main-content-inner .wrap {
    padding-top: 180px !important;
  }
}
/* line 16, ../scss/_pages.scss */
.single-portfolio .wrap .container, .main-content-inner .wrap .container {
  height: 350px !important;
}

/* line 25, ../scss/_pages.scss */
.image img {
  width: 100% !important;
  height: auto !important;
}
@media only all and (max-width: 991px) {
  /* line 22, ../scss/_pages.scss */
  .image {
    width: 100%;
  }
  /* line 32, ../scss/_pages.scss */
  .image img {
    width: 100% !important;
  }
}

/* line 38, ../scss/_pages.scss */
.sidebar {
  padding: 20px;
  margin-top: 20px;
  background-color: black;
}

/* line 45, ../scss/_pages.scss */
.row-thumbnails {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 49, ../scss/_pages.scss */
.thumbnail {
  min-height: 285px;
  padding: 0;
  margin-bottom: 30px;
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  -o-transition: all, 0s;
  transition: all, 0s;
}
@media only all and (min-width: 768px) and (max-width: 991px) {
  /* line 49, ../scss/_pages.scss */
  .thumbnail {
    min-height: 250px;
  }
}
@media only all and (max-width: 479px) {
  /* line 49, ../scss/_pages.scss */
  .thumbnail {
    width: 100%;
    clear: both;
    min-height: 0;
  }
}
/* line 68, ../scss/_pages.scss */
.thumbnail h3 {
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
  -webkit-transition: padding, 0.5s;
  -moz-transition: padding, 0.5s;
  -o-transition: padding, 0.5s;
  transition: padding, 0.5s;
}
/* line 72, ../scss/_pages.scss */
.thumbnail img {
  height: auto !important;
}
@media only all and (max-width: 767px) {
  /* line 72, ../scss/_pages.scss */
  .thumbnail img {
    width: 100% !important;
  }
}
/* line 80, ../scss/_pages.scss */
.thumbnail .thumb-content {
  background-color: black;
}
/* line 84, ../scss/_pages.scss */
.thumbnail .caption {
  text-align: center;
  padding: 10px 0 0 0;
}
@media only all and (min-width: 768px) {
  /* line 97, ../scss/_pages.scss */
  .thumbnail:hover h3 {
    background: #0074a2;
    padding-top: 20px;
    -webkit-transition: background-color, 0.2s;
    -moz-transition: background-color, 0.2s;
    -o-transition: background-color, 0.2s;
    transition: background-color, 0.2s;
    -webkit-transition: padding, 0.2s;
    -moz-transition: padding, 0.2s;
    -o-transition: padding, 0.2s;
    transition: padding, 0.2s;
  }
}

/* line 31, ../scss/custom.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: top;
}

/* line 35, ../scss/custom.scss */
body {
  overflow-x: hidden;
  background-color: #00364b;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/stripes.png?1385804855') black;
}

/* line 40, ../scss/custom.scss */
.wrap {
  padding-top: 180px;
  height: 100%;
}

/* line 45, ../scss/custom.scss */
.single .wrap {
  padding-top: 270px;
}

/* line 49, ../scss/custom.scss */
.main-content {
  padding: 30px 0 30px 0;
}
@media only all and (min-width: 768px) {
  /* line 49, ../scss/custom.scss */
  .main-content {
    padding: 70px 15px 70px 15px;
  }
}

/* line 55, ../scss/custom.scss */
.content {
  margin-left: 15px;
  margin-right: 15px;
}
@media only all and (max-width: 767px) {
  /* line 55, ../scss/custom.scss */
  .content {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 65, ../scss/custom.scss */
.btn a {
  text-transform: uppercase;
  color: white;
}
/* line 68, ../scss/custom.scss */
.btn a:hover {
  color: white;
  text-decoration: none;
}

/* line 75, ../scss/custom.scss */
.pad-content {
  padding: 10px 0;
}

/* line 78, ../scss/custom.scss */
.pad-none {
  padding: 0;
}

/* line 81, ../scss/custom.scss */
.width-100 {
  width: 100%;
}

/* line 88, ../scss/custom.scss */
.mq-list {
  padding-top: 30px;
}
/* line 90, ../scss/custom.scss */
.mq-list li {
  margin-right: 18px;
  padding: 0;
}
@media only all and (max-width: 991px) {
  /* line 90, ../scss/custom.scss */
  .mq-list li {
    margin-right: 13px;
  }
}
@media only all and (max-width: 767px) {
  /* line 90, ../scss/custom.scss */
  .mq-list li {
    margin-right: 1.4%;
  }
}
/* line 102, ../scss/custom.scss */
.mq-list .smartphone {
  width: 7.9%;
}
/* line 105, ../scss/custom.scss */
.mq-list .tablet {
  width: 19%;
}
/* line 108, ../scss/custom.scss */
.mq-list .netbook {
  width: 25.5%;
}
/* line 111, ../scss/custom.scss */
.mq-list .desktop {
  margin-right: 0;
  width: 40%;
}

/* Admin Menu */
/* line 119, ../scss/custom.scss */
#adminmenu #menu-posts-design .wp-menu-image:before {
  content: '\f85' !important;
}

/* IE 'browse happy' */
/* line 124, ../scss/custom.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 131, ../scss/custom.scss */
#root-footer, #footer {
  height: 30px;
}
/* line 133, ../scss/custom.scss */
#root-footer p, #footer p {
  color: #666;
}

/* line 10, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
}
/* line 18, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root-footer {
  height: 30px;
}

/* line 20, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 30px;
}
