/*
 *	CUSTOM SCSS
 */
/* line 17, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Nav */
/* Body */
/* Spacers */
/* Colors */
/* 
 *	Reset 
 */
/* line 17, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: top;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/*
 * TYPOGRAPHY
 */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 9, ../scss/_mixins.scss */
.no-pad-left {
  padding-left: 0 !important;
}

/* line 12, ../scss/_mixins.scss */
.no-pad-right {
  padding-right: 0 !important;
}

/* line 15, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 19, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 22, ../scss/_mixins.scss */
.pad-content {
  padding: 10px 0;
}

/* line 25, ../scss/_mixins.scss */
.pad-none {
  padding: 0;
}

/* line 28, ../scss/_mixins.scss */
.width-100 {
  width: 100%;
}

/* line 31, ../scss/_mixins.scss */
.media img {
  width: 100%;
  height: auto;
}

/* line 59, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 74, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 78, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 82, ../scss/_mixins.scss */
.design-slider, .mq-list li, .single-design .media {
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

@font-face {
  font-family: "Raleway Dots";
  src: url('/wp-content/themes/jn-wpbs/assets/fonts/RalewayDots-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Dosis";
  src: url('/wp-content/themes/jn-wpbs/assets/fonts/Dosis-Regular.ttf') format('truetype');
}

/*
 *	BASICS
 */
/* line 29, ../scss/_typography.scss */
body {
  font-family: "Dosis", sans-serif;
  color: #ccc;
}

/* line 33, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway Dots", sans-serif;
  text-transform: uppercase;
  color: white;
}
/* line 37, ../scss/_typography.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #ccc;
}
/* line 40, ../scss/_typography.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* line 44, ../scss/_typography.scss */
h1 {
  font-size: 60px;
  margin-bottom: 50px;
  margin-left: -4px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}
@media only all and (max-width: 1199px) {
  /* line 44, ../scss/_typography.scss */
  h1 {
    font-size: 49px;
  }
}
@media only all and (max-width: 767px) {
  /* line 44, ../scss/_typography.scss */
  h1 {
    font-size: 42px;
  }
}
/* line 56, ../scss/_typography.scss */
h1 a {
  color: #aaa;
}
/* line 58, ../scss/_typography.scss */
h1 a:hover {
  color: white;
}

/* line 63, ../scss/_typography.scss */
h2 {
  font-size: 230%;
  color: #0074a2;
}

/* line 68, ../scss/_typography.scss */
h3 {
  margin: 0px 0 15px 0;
  padding: 5px 7px 5px;
  font-size: 80%;
  line-height: 130%;
  letter-spacing: 1px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    /* @include transition (background, 0.75s);
    @include transition (padding, 0.75s);

    &:hover {
        background-color: $blue;
        padding-top: 20px;
        @include transition (background, 0.2s);
        @include transition (padding, 0.2s);
    } */
}
/* line 78, ../scss/_typography.scss */
h3 i {
  margin-right: 5px;
  margin-top: 1px;
  color: #7e1e1b;
}

/* line 94, ../scss/_typography.scss */
a {
  -webkit-transition: color, 0.25s;
  -moz-transition: color, 0.25s;
  -o-transition: color, 0.25s;
  transition: color, 0.25s;
}
/* line 96, ../scss/_typography.scss */
a:hover {
  -webkit-transition: color, 0.25s;
  -moz-transition: color, 0.25s;
  -o-transition: color, 0.25s;
  transition: color, 0.25s;
}

/* line 100, ../scss/_typography.scss */
p {
  color: #ccc;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 100;
  letter-spacing: 1px;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Logo */
/* line 7, ../scss/_navbar.scss */
.navbar-brand {
  padding: 15px 30px 0 15px;
}
@media only all and (max-width: 991px) {
  /* line 7, ../scss/_navbar.scss */
  .navbar-brand {
    padding: 15px 23px 0 15px;
  }
}
@media only all and (max-width: 767px) {
  /* line 7, ../scss/_navbar.scss */
  .navbar-brand {
    padding-top: 12px;
  }
  /* line 15, ../scss/_navbar.scss */
  .navbar-brand #avatar {
    width: 24px;
    height: 24px;
  }
}

/* line 21, ../scss/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: #2ea2cc;
}

/* line 25, ../scss/_navbar.scss */
.site-navigation-inner {
  padding-left: 0;
  padding-right: 0;
  z-index: 999;
  width: 100%;
}

@media only all and (max-width: 767px) {
  /* line 32, ../scss/_navbar.scss */
  .navbar-fixed-top {
    position: relative;
  }
}

/* Nav */
/* line 41, ../scss/_navbar.scss */
.nav > li > a {
  padding: 15px;
}
@media only all and (max-width: 1199px) {
  /* line 41, ../scss/_navbar.scss */
  .nav > li > a {
    padding: 15px 11px;
  }
}
@media only all and (max-width: 991px) {
  /* line 41, ../scss/_navbar.scss */
  .nav > li > a {
    padding: 15px 6px 15px;
  }
}
@media only all and (max-width: 767px) {
  /* line 41, ../scss/_navbar.scss */
  .nav > li > a {
    padding: 0 0 15px 51px;
  }
}
/* line 53, ../scss/_navbar.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/* 
 *   Navbar 
 */
/* line 65, ../scss/_navbar.scss */
.navbar {
  margin-bottom: -150px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}
/* line 70, ../scss/_navbar.scss */
.navbar a {
  font-size: 15px;
  letter-spacing: 3px;
}
@media only all and (min-width: 768px) and (max-width: 991px) {
  /* line 70, ../scss/_navbar.scss */
  .navbar a {
    font-size: 13px;
    letter-spacing: 2px;
  }
}
@media only all and (max-width: 767px) {
  /* line 70, ../scss/_navbar.scss */
  .navbar a {
    font-size: 17px;
    line-height: 27px;
    -webkit-transition: all, 0;
    -moz-transition: all, 0;
    -o-transition: all, 0;
    transition: all, 0;
  }
}

/* line 85, ../scss/_navbar.scss */
.navbar-nav {
  margin: 0 0 0 -15px;
}

/* 
 *  Active 
 */
/* line 95, ../scss/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #d2322d;
}

/* line 99, ../scss/_navbar.scss */
.navbar-inverse {
  background-color: black;
  border: 0;
}

/* line 104, ../scss/_navbar.scss */
.navbar-collapse {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border-top: 0;
}

/* line 109, ../scss/_navbar.scss */
#nav-row {
  height: 50px;
  background-color: #000;
  z-index: 999;
  position: fixed;
}

/* line 120, ../scss/_navbar.scss */
#nav-below .btn-primary {
  margin-top: 10px;
}

/* line 127, ../scss/_navbar.scss */
.nav-previous {
  float: left;
  margin-right: 10px;
}

/* line 134, ../scss/_navbar.scss */
button {
  margin-right: 10px !important;
}

/* line 137, ../scss/_navbar.scss */
.btn-primary {
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

/* line 142, ../scss/_navbar.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #004560;
  border-color: #004560;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

/* line 148, ../scss/_navbar.scss */
.btn-danger {
  background-color: #d2322d;
  border-color: #d2322d;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

/* line 153, ../scss/_navbar.scss */
.btn-danger:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #711b18;
  border-color: #711b18;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

/* line 161, ../scss/_navbar.scss */
.affix {
  top: 0;
}

/* line 168, ../scss/_navbar.scss */
.footer-widgets .nav {
  margin-top: 0px;
}
/* line 172, ../scss/_navbar.scss */
.footer-widgets .widget {
  border-left: 1px dashed #222;
  padding: 27px;
  margin-top: 30px;
}
/* line 177, ../scss/_navbar.scss */
.footer-widgets .widget h2 {
  font-family: "Dosis", sans-serif !important;
  font-size: 100%;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
/* line 185, ../scss/_navbar.scss */
.footer-widgets .widget:first-child {
  border-left: 0;
}
/* line 188, ../scss/_navbar.scss */
.footer-widgets .menu-item {
  margin: 10px 0;
  text-transform: uppercase;
  /* a {
      color: #666;
      &:hover {
          color: $blue;
      }
  } */
}
/* line 192, ../scss/_navbar.scss */
.footer-widgets .menu-item:before {
  margin-left: 10px;
  margin-right: 5px;
  content: "\00bb ";
  color: #d2322d;
}

/* line 208, ../scss/_navbar.scss */
#footer-menu li {
  width: 100%;
}

/* line 212, ../scss/_navbar.scss */
#root-footer, #footer {
  height: auto;
}
/* line 214, ../scss/_navbar.scss */
#root-footer p, #footer p {
  color: #666;
}

/* line 218, ../scss/_navbar.scss */
#footer {
  background-color: #000;
}

/* 
 *  Kebo Tweets
 */
/* line 231, ../scss/_navbar.scss */
.kebo-tweets a.kaccount, .kebo-tweets a.kdate {
  font-size: 96% !important;
}

/*  
 *  Mailchimp Email Signup 
 */
/* line 242, ../scss/_navbar.scss */
#mc_signup {
  padding: 0 !important;
}
/* line 244, ../scss/_navbar.scss */
#mc_signup .mergeRow {
  display: none !important;
  padding: 0 !important;
}
/* line 248, ../scss/_navbar.scss */
#mc_signup form {
  padding: 0 !important;
}

/* line 252, ../scss/_navbar.scss */
#mc_signup_submit {
  margin-top: 0;
  width: 100% !important;
  background: #d2322d;
  padding: 10px;
  margin-top: 0 !important;
  border: 0;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}
/* line 262, ../scss/_navbar.scss */
#mc_signup_submit:hover {
  background-color: #0074a2;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}

/* line 267, ../scss/_navbar.scss */
.mc_success_msg {
  color: #0074a2;
}

/* line 270, ../scss/_navbar.scss */
#mc_message {
  margin-bottom: 15px;
  margin-top: -2px;
}

@media only all and (max-width: 767px) {
  /* Logo */
  /* line 279, ../scss/_navbar.scss */
  .navbar-brand {
    padding-left: 15px;
  }

  /* line 282, ../scss/_navbar.scss */
  .navbar-collapse {
    background-color: #000;
  }
}
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 9, ../scss/_mixins.scss */
.no-pad-left {
  padding-left: 0 !important;
}

/* line 12, ../scss/_mixins.scss */
.no-pad-right {
  padding-right: 0 !important;
}

/* line 15, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 19, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 22, ../scss/_mixins.scss */
.pad-content {
  padding: 10px 0;
}

/* line 25, ../scss/_mixins.scss */
.pad-none {
  padding: 0;
}

/* line 28, ../scss/_mixins.scss */
.width-100 {
  width: 100%;
}

/* line 31, ../scss/_mixins.scss */
.media img {
  width: 100%;
  height: auto;
}

/* line 59, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 74, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 78, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 82, ../scss/_mixins.scss */
.design-slider, .mq-list li, .single-design .media {
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* line 4, ../scss/_sections.scss */
.row-content {
  overflow: hidden;
  position: relative;
}

/* line 11, ../scss/_sections.scss */
section {
  height: 700px;
  min-height: 700px;
  max-height: 650px;
  padding: 90px 0;
}
@media only all and (max-width: 767px) {
  /* line 11, ../scss/_sections.scss */
  section {
    padding: 40px 0;
  }
}
/* line 21, ../scss/_sections.scss */
section .col-sm-5, section .col-md-6 {
  padding-left: 0;
}

/* Masthead row above navigation */
/* line 27, ../scss/_sections.scss */
#row-masthead {
  height: 600px;
}
@media only all and (max-width: 1199px) {
  /* line 27, ../scss/_sections.scss */
  #row-masthead {
    height: 600px;
  }
}
@media only all and (max-width: 479px) {
  /* line 27, ../scss/_sections.scss */
  #row-masthead {
    display: none;
  }
}

/* .content {
    background-attachment: fixed;

    @include max_tablet {
        width: 50%;
    }
    @include max_phone {
        width: 100%;
        padding-left:  0px;
        padding-right: 0px;
    }
} */
/* Sections */
/* line 54, ../scss/_sections.scss */
#section-1 {
  height: 600px;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-black.jpg?1385356639');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}
@media only all and (max-width: 1199px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 520px;
  }
}
@media only all and (max-width: 991px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 610px;
  }
}
@media only all and (max-width: 767px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 550px;
  }
}
@media only all and (max-width: 479px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    margin-top: 100px;
  }
}

/* line 77, ../scss/_sections.scss */
#section-2 {
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-dkblue.jpg?1385356639');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 83, ../scss/_sections.scss */
#section-3 {
  background-color: #6d838e;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-grey.jpg?1385356639');
  background-color: black;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 91, ../scss/_sections.scss */
#section-4 {
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-red.jpg?1385356640');
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
}

/* Spaceshio */
/* line 105, ../scss/_sections.scss */
#ship {
  position: absolute;
  top: 10px;
  left: auto !important;
  right: -60px;
  z-index: 999;
}
@media only all and (max-width: 1199px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    right: -120px;
  }
}
@media only all and (max-width: 991px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 74%;
    right: -140px;
  }
}
@media only all and (max-width: 767px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 64%;
    height: auto;
  }
}
@media only all and (max-width: 479px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 100%;
    height: auto;
    margin-top: -220px;
  }
}

@media only all and (max-width: 767px) {
  /* line 136, ../scss/_sections.scss */
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    background-attachment: scroll;
    background-position: 0 0 !important;
  }
}
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 9, ../scss/_mixins.scss */
.no-pad-left {
  padding-left: 0 !important;
}

/* line 12, ../scss/_mixins.scss */
.no-pad-right {
  padding-right: 0 !important;
}

/* line 15, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 19, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 22, ../scss/_mixins.scss */
.pad-content {
  padding: 10px 0;
}

/* line 25, ../scss/_mixins.scss */
.pad-none {
  padding: 0;
}

/* line 28, ../scss/_mixins.scss */
.width-100 {
  width: 100%;
}

/* line 31, ../scss/_mixins.scss */
.media img {
  width: 100%;
  height: auto;
}

/* line 59, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 74, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 78, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 82, ../scss/_mixins.scss */
.design-slider, .mq-list li, .single-design .media {
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* line 1, ../scss/_social.scss */
#social-nav {
  position: relative;
}
/* line 4, ../scss/_social.scss */
#social-nav ul {
  position: absolute;
  top: -37px;
  right: 0px;
}
@media only all and (max-width: 991px) {
  /* line 4, ../scss/_social.scss */
  #social-nav ul {
    top: -34px;
  }
}
@media only all and (max-width: 767px) {
  /* line 4, ../scss/_social.scss */
  #social-nav ul {
    right: 60px;
  }
}
/* line 16, ../scss/_social.scss */
#social-nav ul li {
  padding-left: 0;
  padding-right: 5px;
}
@media only all and (max-width: 1199px) {
  /* line 16, ../scss/_social.scss */
  #social-nav ul li {
    padding-right: 4px;
  }
}
@media only all and (max-width: 767px) {
  /* line 16, ../scss/_social.scss */
  #social-nav ul li {
    padding-right: 3px;
  }
}
/* line 28, ../scss/_social.scss */
#social-nav img {
  width: 22px;
  height: 22px;
}
@media only all and (max-width: 1199px) {
  /* line 28, ../scss/_social.scss */
  #social-nav img {
    width: 21px;
    height: 21px;
  }
}
@media only all and (max-width: 991px) {
  /* line 28, ../scss/_social.scss */
  #social-nav img {
    width: 17px;
    height: 17px;
  }
}
/* line 42, ../scss/_social.scss */
#social-nav a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  opacity: 0.68;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: filter, 0.5s;
  -moz-transition: filter, 0.5s;
  -o-transition: filter, 0.5s;
  transition: filter, 0.5s;
}
/* line 48, ../scss/_social.scss */
#social-nav a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: filter, 0.25s;
  -moz-transition: filter, 0.25s;
  -o-transition: filter, 0.25s;
  transition: filter, 0.25s;
}

/* line 18, ../scss/custom.scss */
body {
  overflow-x: hidden;
  background-color: #333;
}

/* line 23, ../scss/custom.scss */
article {
  padding-left: 0 !important;
}

/* line 33, ../scss/custom.scss */
pre {
  color: #666;
  margin: 30px 0;
}

/* line 37, ../scss/custom.scss */
time {
  color: #999;
}

/* line 40, ../scss/custom.scss */
table {
  border-spacing: 0 !important;
  border-color: transparent !important;
}

/* line 45, ../scss/custom.scss */
:focus, a:focus {
  outline: -webkit-focus-ring-color auto 0;
}

/* line 49, ../scss/custom.scss */
a {
  color: #0074a2;
}
/* line 51, ../scss/custom.scss */
a:hover {
  color: #2ea2cc;
}

/* line 55, ../scss/custom.scss */
a:hover {
  text-decoration: none !important;
}

/* line 61, ../scss/custom.scss */
.btn a {
  text-transform: uppercase;
  color: white;
}
/* line 64, ../scss/custom.scss */
.btn a:hover {
  color: white;
  text-decoration: none;
}

/* line 70, ../scss/custom.scss */
.btn-block {
  margin-bottom: 20px;
  color: black;
  font-size: 100%;
}

/* Divs */
/* line 79, ../scss/custom.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

@media only all and (max-width: 767px) {
  /* line 83, ../scss/custom.scss */
  .container {
    padding: 0 25px 5px;
  }
}

/* line 88, ../scss/custom.scss */
.page-header {
  border: 0;
  margin: 20px 0 0;
  padding-bottom: 0;
}

/* line 93, ../scss/custom.scss */
.post {
  margin: 0 0 40px 0;
}

/* line 96, ../scss/custom.scss */
.entry-meta {
  margin-bottom: 20px;
  line-height: 150%;
}

/* line 100, ../scss/custom.scss */
.main-content {
  padding-top: 100px;
}
@media only all and (max-width: 1199px) {
  /* line 100, ../scss/custom.scss */
  .main-content {
    padding-top: 90px;
  }
}
@media only all and (max-width: 991px) {
  /* line 100, ../scss/custom.scss */
  .main-content {
    padding-top: 80px;
  }
}
@media only all and (max-width: 767px) {
  /* line 100, ../scss/custom.scss */
  .main-content {
    padding-top: 70px;
  }
}

/* line 113, ../scss/custom.scss */
.content {
  margin-left: 15px;
  margin-right: 15px;
}
@media only all and (max-width: 767px) {
  /* line 113, ../scss/custom.scss */
  .content {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 124, ../scss/custom.scss */
.image img {
  width: 100% !important;
  height: auto !important;
}
@media only all and (max-width: 991px) {
  /* line 121, ../scss/custom.scss */
  .image {
    width: 100%;
  }
  /* line 131, ../scss/custom.scss */
  .image img {
    width: 100% !important;
  }
}

/* 
 *  Sidebar
 */
/* line 143, ../scss/custom.scss */
.sidebar {
  padding: 20px;
  margin-top: 20px;
  background-color: black;
}
/* line 149, ../scss/custom.scss */
.sidebar h3 {
  padding: 0 0 10px;
  margin: 0 !important;
}
/* line 153, ../scss/custom.scss */
.sidebar .nav > li > a {
  padding: 10px 0;
}

/* 
 *  Thumbnails
 */
/* line 164, ../scss/custom.scss */
.row-thumbnails {
  margin-left: -15px;
  margin-right: -15px;
}
@media only all and (max-width: 369px) {
  /* line 168, ../scss/custom.scss */
  .row-thumbnails li {
    width: 100% !important;
    clear: both;
    min-height: 0;
  }
}

/* line 176, ../scss/custom.scss */
.thumbnail {
  padding: 0;
  margin-bottom: 1%;
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  -o-transition: all, 0s;
  transition: all, 0s;
}
/* line 183, ../scss/custom.scss */
.thumbnail h3 {
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
  -webkit-transition: padding, 0.5s;
  -moz-transition: padding, 0.5s;
  -o-transition: padding, 0.5s;
  transition: padding, 0.5s;
  font-family: "Dosis", sans-serif !important;
  background-color: black;
}
/* line 191, ../scss/custom.scss */
.thumbnail img {
  height: auto !important;
  border: 3px solid black;
}
@media only all and (max-width: 767px) {
  /* line 191, ../scss/custom.scss */
  .thumbnail img {
    width: 100% !important;
  }
}
/* line 203, ../scss/custom.scss */
.thumbnail .caption {
  text-align: center;
  padding: 10px 0 0 0;
}
@media only all and (min-width: 768px) {
  /* line 212, ../scss/custom.scss */
  .thumbnail:hover img {
    border: 3px solid #004f6f;
    -webkit-transition: border, 0.5s;
    -moz-transition: border, 0.5s;
    -o-transition: border, 0.5s;
    transition: border, 0.5s;
  }
  /* line 216, ../scss/custom.scss */
  .thumbnail:hover h3 {
    background: #004f6f;
    -webkit-transition: background-color, 0.2s;
    -moz-transition: background-color, 0.2s;
    -o-transition: background-color, 0.2s;
    transition: background-color, 0.2s;
    -webkit-transition: padding, 0.2s;
    -moz-transition: padding, 0.2s;
    -o-transition: padding, 0.2s;
    transition: padding, 0.2s;
  }
  /* line 223, ../scss/custom.scss */
  .thumbnail:hover i {
    color: white;
  }
}

/* line 229, ../scss/custom.scss */
.thumb-title {
  min-height: 58px;
}
@media only all and (max-width: 320px) {
  /* line 229, ../scss/custom.scss */
  .thumb-title {
    min-height: 35px;
  }
}

/* line 237, ../scss/custom.scss */
.modal {
  top: 10%;
}

/* line 245, ../scss/custom.scss */
.above-header {
  height: 500px;
  background-color: black;
}

/* line 250, ../scss/custom.scss */
#avatar {
  width: 17px;
  height: 17px;
  margin-top: 1px;
  margin-right: 13px;
}

/* line 256, ../scss/custom.scss */
.visit-site {
  margin: 40px 0;
}

/* line 260, ../scss/custom.scss */
.col-content {
  padding-left: 0px;
  padding-right: 50px;
}
@media only all and (max-width: 991px) {
  /* line 260, ../scss/custom.scss */
  .col-content {
    padding-right: 40px;
  }
}
@media only all and (max-width: 767px) {
  /* line 260, ../scss/custom.scss */
  .col-content {
    padding-right: 0;
  }
}

/* line 272, ../scss/custom.scss */
.portfolio-desc {
  padding: 15px 0 45px 0;
}

/* 
 *  Soliloquy Slider 
 */
/* line 281, ../scss/custom.scss */
.soliloquy-container img {
  width: 100%;
  height: auto;
}
/* line 285, ../scss/custom.scss */
.soliloquy-container .soliloquy-direction-nav {
  display: block !important;
}
/* line 288, ../scss/custom.scss */
.soliloquy-container .soliloquy-control-nav, .soliloquy-container .soliloquy-prev, .soliloquy-container .soliloquy-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity, 0.5s;
  -moz-transition: opacity, 0.5s;
  -o-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
}
/* line 293, ../scss/custom.scss */
.soliloquy-container:hover .soliloquy-control-nav, .soliloquy-container:hover .soliloquy-prev, .soliloquy-container:hover .soliloquy-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity, 0.5s;
  -moz-transition: opacity, 0.5s;
  -o-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
}

/* line 300, ../scss/custom.scss */
.design-slider {
  margin: 26px 0;
}

/* 
 *  Twitter feed 
 */
@media only all and (max-width: 991px) {
  /* line 310, ../scss/custom.scss */
  .kmeta {
    font-size: 15px;
  }
}

/* line 315, ../scss/custom.scss */
.ktext {
  line-height: 19px !important;
  margin: 15px 0 !important;
}

/* 
 *  Contact Form 
 */
/* line 326, ../scss/custom.scss */
.cscfForm > p {
  margin-bottom: 20px;
}
/* line 329, ../scss/custom.scss */
.cscfForm label {
  margin-bottom: 10px;
  color: #2ea2cc;
}

/* line 335, ../scss/custom.scss */
#frmCSCF .btn {
  border: #0074a2;
  background-color: #0074a2;
  color: white;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}
/* line 340, ../scss/custom.scss */
#frmCSCF .btn:hover {
  background-color: #2ea2cc;
  -webkit-transition: background-color, 0.25s;
  -moz-transition: background-color, 0.25s;
  -o-transition: background-color, 0.25s;
  transition: background-color, 0.25s;
}

/* 
 *  Media Queries thumbs
 */
/* line 351, ../scss/custom.scss */
.mq-list {
  padding-top: 30px;
}
/* line 353, ../scss/custom.scss */
.mq-list li {
  margin-right: 18px;
  padding: 0;
}
@media only all and (max-width: 1199px) {
  /* line 353, ../scss/custom.scss */
  .mq-list li {
    margin-right: 15px;
  }
}
@media only all and (max-width: 991px) {
  /* line 353, ../scss/custom.scss */
  .mq-list li {
    margin-right: 10px;
  }
}
@media only all and (max-width: 767px) {
  /* line 353, ../scss/custom.scss */
  .mq-list li {
    margin-right: 0.9%;
  }
}
/* line 368, ../scss/custom.scss */
.mq-list .smartphone {
  width: 8.1%;
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  /* line 368, ../scss/custom.scss */
  .mq-list .smartphone {
    width: 8%;
  }
}
@media only all and (max-width: 767px) {
  /* line 368, ../scss/custom.scss */
  .mq-list .smartphone {
    width: 8.1%;
  }
}
/* line 377, ../scss/custom.scss */
.mq-list .tablet {
  width: 19.5%;
}
@media only all and (max-width: 767px) {
  /* line 377, ../scss/custom.scss */
  .mq-list .tablet {
    width: 19.4%;
  }
}
/* line 383, ../scss/custom.scss */
.mq-list .netbook {
  width: 25.9%;
}
/* line 386, ../scss/custom.scss */
.mq-list .desktop {
  margin-right: 0;
  width: 40.5%;
}

/* line 393, ../scss/custom.scss */
.entry-content p {
  margin-bottom: 15px;
}
/* line 396, ../scss/custom.scss */
.entry-content img {
  margin: 10px 0 30px;
}

/* line 403, ../scss/custom.scss */
.credits td {
  padding: 3px !important;
}
@media only all and (max-width: 1199px) {
  /* line 409, ../scss/custom.scss */
  .credits td {
    padding: 1px !important;
  }
}

/* line 415, ../scss/custom.scss */
.media, .description {
  margin-bottom: 30px;
}

/* line 419, ../scss/custom.scss */
.media img {
  margin: 0;
}
/* line 423, ../scss/custom.scss */
.media object {
  margin-right: 10px !important;
  margin-bottom: 15px !important;
}

/* line 428, ../scss/custom.scss */
.single-design .media {
  border: 1px solid black;
}

/*
 *  Admin Menu 
 */
/* line 439, ../scss/custom.scss */
#adminmenu #menu-posts-design .wp-menu-image:before {
  content: '\f85' !important;
}
