/* Imports */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 19, ../scss/_html5-bp.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 23, ../scss/_html5-bp.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 34, ../scss/_html5-bp.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 39, ../scss/_html5-bp.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 48, ../scss/_html5-bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 65, ../scss/_html5-bp.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 73, ../scss/_html5-bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 83, ../scss/_html5-bp.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 91, ../scss/_html5-bp.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 126, ../scss/_html5-bp.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 134, ../scss/_html5-bp.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 145, ../scss/_html5-bp.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 154, ../scss/_html5-bp.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 171, ../scss/_html5-bp.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 184, ../scss/_html5-bp.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 201, ../scss/_html5-bp.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 206, ../scss/_html5-bp.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 215, ../scss/_html5-bp.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 242, ../scss/_html5-bp.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 250, ../scss/_html5-bp.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 254, ../scss/_html5-bp.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 258, ../scss/_html5-bp.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 268, ../scss/_html5-bp.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 273, ../scss/_html5-bp.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 278, ../scss/_html5-bp.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 283, ../scss/_html5-bp.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 287, ../scss/_html5-bp.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 297, ../scss/_html5-bp.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 303, ../scss/_html5-bp.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 17, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Nav */
/* Body */
/* Spacers */
/* Colors */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Nav */
/* Body */
/* Spacers */
/* Colors */
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 33, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 48, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 52, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 56, ../scss/_mixins.scss */
.single-portfolio .image, .thumbnail .thumb-content {
  -webkit-box-shadow: 0px 2px 30px black;
  -moz-box-shadow: 0px 2px 30px black;
  box-shadow: 0px 2px 30px black;
}

/* line 4, ../scss/_overrides.scss */
:focus, a:focus {
  outline: -webkit-focus-ring-color auto 0;
}

/* line 8, ../scss/_overrides.scss */
a:hover {
  text-decoration: none !important;
}

/* line 12, ../scss/_overrides.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 16, ../scss/_overrides.scss */
.container {
  padding: 0;
}
@media only all and (max-width: 767px) {
  /* line 16, ../scss/_overrides.scss */
  .container {
    padding: 0 25px 5px;
  }
}

/* line 23, ../scss/_overrides.scss */
.modal {
  top: 10%;
}

/* line 26, ../scss/_overrides.scss */
.page-header {
  border: 0;
  margin: 40px 0 0;
}

/* line 30, ../scss/_overrides.scss */
.post {
  margin: 0 0 20px 0;
}

/* line 40, ../scss/_overrides.scss */
pre {
  color: #666;
  margin: 30px 0;
}

/* line 44, ../scss/_overrides.scss */
time {
  color: #d2322d;
}

/*
 * TYPOGRAPHY
 */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 33, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 48, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 52, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 56, ../scss/_mixins.scss */
.single-portfolio .image, .thumbnail .thumb-content {
  -webkit-box-shadow: 0px 2px 30px black;
  -moz-box-shadow: 0px 2px 30px black;
  box-shadow: 0px 2px 30px black;
}

@font-face {
  font-family: "Raleway Dots";
  src: url('/wp-content/themes/jn-wpbs/assets/fonts/RalewayDots-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Dosis";
  src: url('/wp-content/themes/jn-wpbs/assets/fonts/Dosis-Regular.ttf') format('truetype');
}

/*
 *	BASICS
 */
/* line 29, ../scss/_typography.scss */
body {
  font-family: "Dosis", sans-serif;
  color: #ccc;
}

/* line 33, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway Dots", sans-serif;
  text-transform: uppercase;
  color: white;
}
/* line 37, ../scss/_typography.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #999;
}
/* line 40, ../scss/_typography.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* line 44, ../scss/_typography.scss */
h1 {
  font-size: 60px;
  margin-bottom: 30px;
  margin-left: -4px;
}
@media screen and (max-width: 1200px) {
  /* line 44, ../scss/_typography.scss */
  h1 {
    font-size: 49px;
  }
}

/* line 56, ../scss/_typography.scss */
h2 {
  font-size: 230%;
}

/* line 61, ../scss/_typography.scss */
h3 {
  margin: 0px 0 15px 0;
  padding: 5px 7px 5px;
  font-size: 130%;
  line-height: 130%;
  letter-spacing: 1px;
    /* @include transition (background, 0.75s);
    @include transition (padding, 0.75s);

    &:hover {
        background-color: $blue;
        padding-top: 20px;
        @include transition (background, 0.2s);
        @include transition (padding, 0.2s);
    } */
}

/* line 80, ../scss/_typography.scss */
h3 {
  font-size: 130%;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 84, ../scss/_typography.scss */
p {
  color: #aaa;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 100;
  letter-spacing: 1px;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Logo */
/* line 4, ../scss/_navbar.scss */
.navbar-brand {
  padding: 15px 30px 0 15px;
  margin-left: 0px !important;
}

/* line 8, ../scss/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: #d2322d;
}

/* Navbar */
/* line 13, ../scss/_navbar.scss */
.navbar-nav {
  margin: 0 0 0 -15px;
}

/* line 16, ../scss/_navbar.scss */
#nav-row {
  height: 50px;
  background-color: #000;
  z-index: 999;
  position: fixed;
}

@media only all and (max-width: 767px) {
  /* line 24, ../scss/_navbar.scss */
  .nav > li > a {
    padding: 0 0 15px 15px;
  }
}

/* line 30, ../scss/_navbar.scss */
.navbar {
  margin-bottom: -150px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}
/* line 35, ../scss/_navbar.scss */
.navbar a {
  font-size: 15px;
  letter-spacing: 3px;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 41, ../scss/_navbar.scss */
.navbar a:hover {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 45, ../scss/_navbar.scss */
.navbar a.active {
  color: white !important;
}

/* line 51, ../scss/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

/* line 55, ../scss/_navbar.scss */
.navbar-inverse {
  background-color: black;
  border: 0;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* .navbar-collapse{
    border: 0 !important;
    border-color: transparent !important;
    border-top: 0 !important;
} */
/* Buttons */
/* line 69, ../scss/_navbar.scss */
.btn-danger {
  background-color: #d2322d;
  border-color: #ac2925;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 75, ../scss/_navbar.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  background-color: #d64742;
  border-color: #d43f3a;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* Affix */
/* line 83, ../scss/_navbar.scss */
#home .affix {
  width: 100%;
  top: 0;
}

/* line 87, ../scss/_navbar.scss */
#home .affix-top {
  margin-top: -50px;
}
@media only all and (max-width: 767px) {
  /* line 87, ../scss/_navbar.scss */
  #home .affix-top {
    margin-top: 0;
  }
}

/* line 95, ../scss/_navbar.scss */
#standard .affix,
#standard .affix-top {
  width: 100%;
  position: fixed;
}

/* Responsive: Portrait mobile and below */
@media screen and (max-width: 768px) {
  /* line 103, ../scss/_navbar.scss */
  .affix-top {
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0;
  }

  /* Logo */
  /* line 110, ../scss/_navbar.scss */
  .navbar-brand {
    padding-left: 15px;
  }

  /* line 113, ../scss/_navbar.scss */
  .navbar-collapse {
    background-color: #000;
  }
}
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 33, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 48, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 52, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 56, ../scss/_mixins.scss */
.single-portfolio .image, .thumbnail .thumb-content {
  -webkit-box-shadow: 0px 2px 30px black;
  -moz-box-shadow: 0px 2px 30px black;
  box-shadow: 0px 2px 30px black;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* line 4, ../scss/_sections.scss */
.row-content {
  overflow: hidden;
  position: relative;
}

/* line 11, ../scss/_sections.scss */
section {
  height: 700px;
  min-height: 700px;
  max-height: 650px;
  padding: 90px 0;
}
@media only all and (max-width: 767px) {
  /* line 11, ../scss/_sections.scss */
  section {
    padding: 40px 0;
  }
}
/* line 21, ../scss/_sections.scss */
section .col-sm-5, section .col-md-6 {
  padding-left: 0;
}

/* Masthead row above navigation */
/* line 27, ../scss/_sections.scss */
#row-masthead {
  height: 600px;
}
@media only all and (max-width: 1199px) {
  /* line 27, ../scss/_sections.scss */
  #row-masthead {
    height: 600px;
  }
}
@media only all and (max-width: 479px) {
  /* line 27, ../scss/_sections.scss */
  #row-masthead {
    display: none;
  }
}

/* .content {
    background-attachment: fixed;

    @include max_tablet {
        width: 50%;
    }
    @include max_phone {
        width: 100%;
        padding-left:  0px;
        padding-right: 0px;
    }
} */
/* Sections */
/* line 54, ../scss/_sections.scss */
#section-1 {
  height: 600px;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-black.jpg?1385356639');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}
@media only all and (max-width: 1199px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 520px;
  }
}
@media only all and (max-width: 991px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 610px;
  }
}
@media only all and (max-width: 767px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    height: 550px;
  }
}
@media only all and (max-width: 479px) {
  /* line 54, ../scss/_sections.scss */
  #section-1 {
    margin-top: 100px;
  }
}

/* line 77, ../scss/_sections.scss */
#section-2 {
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-dkblue.jpg?1385356639');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 83, ../scss/_sections.scss */
#section-3 {
  background-color: #6d838e;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-grey.jpg?1385356639');
  background-color: black;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 91, ../scss/_sections.scss */
#section-4 {
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/bg-red.jpg?1385356640');
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
}

/* Spaceshio */
/* line 105, ../scss/_sections.scss */
#ship {
  position: absolute;
  top: 10px;
  left: auto !important;
  right: -60px;
  z-index: 999;
}
@media only all and (max-width: 1199px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    right: -120px;
  }
}
@media only all and (max-width: 991px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 74%;
    right: -140px;
  }
}
@media only all and (max-width: 767px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 64%;
    height: auto;
  }
}
@media only all and (max-width: 479px) {
  /* line 105, ../scss/_sections.scss */
  #ship {
    width: 100%;
    height: auto;
    margin-top: -220px;
  }
}

@media only all and (max-width: 767px) {
  /* line 136, ../scss/_sections.scss */
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    background-attachment: scroll;
    background-position: 0 0 !important;
  }
}
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 33, ../scss/_mixins.scss */
#row-masthead {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* line 48, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/* line 52, ../scss/_mixins.scss */
.thumbnail {
  background-color: transparent;
  border: 0;
}

/* line 56, ../scss/_mixins.scss */
.single-portfolio .image, .thumbnail .thumb-content {
  -webkit-box-shadow: 0px 2px 30px black;
  -moz-box-shadow: 0px 2px 30px black;
  box-shadow: 0px 2px 30px black;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* line 5, ../scss/_pages.scss */
.home .content {
  width: 45%;
}
@media only all and (max-width: 767px) {
  /* line 5, ../scss/_pages.scss */
  .home .content {
    width: 100%;
  }
}

/* line 14, ../scss/_pages.scss */
.portfolio .image {
  margin-top: 10px;
  padding: 0;
}

/* line 21, ../scss/_pages.scss */
.single-portfolio .wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -585px;
  height: 350px;
  padding-top: 0 !important;
}
@media only all and (max-width: 1199px) {
  /* line 21, ../scss/_pages.scss */
  .single-portfolio .wrap {
    margin-top: -165px;
    margin-left: -485px;
  }
}
@media only all and (max-width: 991px) {
  /* line 21, ../scss/_pages.scss */
  .single-portfolio .wrap {
    margin-top: auto;
    margin-left: auto;
    top: 0;
    left: 0;
    position: relative !important;
  }
}
@media only all and (max-width: 991px) {
  /* line 21, ../scss/_pages.scss */
  .single-portfolio .wrap {
    padding-top: 180px !important;
  }
}
/* line 28, ../scss/_pages.scss */
.single-portfolio .wrap .container {
  height: 350px !important;
}
/* line 35, ../scss/_pages.scss */
.single-portfolio .image img {
  height: auto !important;
}
@media only all and (max-width: 991px) {
  /* line 32, ../scss/_pages.scss */
  .single-portfolio .image {
    width: 100%;
  }
  /* line 41, ../scss/_pages.scss */
  .single-portfolio .image img {
    width: 100% !important;
  }
}

/* line 48, ../scss/_pages.scss */
.row-thumbnails {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 52, ../scss/_pages.scss */
.thumbnail {
  min-height: 285px;
  padding: 0;
  margin-bottom: 30px;
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  -o-transition: all, 0s;
  transition: all, 0s;
  /* @include max_tablet{
      width:          47%;
      float:          left;
      margin-bottom:  15px;
  } */
}
@media only all and (min-width: 768px) and (max-width: 991px) {
  /* line 52, ../scss/_pages.scss */
  .thumbnail {
    min-height: 230px;
  }
}
@media only all and (max-width: 479px) {
  /* line 52, ../scss/_pages.scss */
  .thumbnail {
    width: 100%;
    clear: both;
    min-height: 0;
  }
}
/* line 76, ../scss/_pages.scss */
.thumbnail h3 {
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
  -webkit-transition: padding, 0.5s;
  -moz-transition: padding, 0.5s;
  -o-transition: padding, 0.5s;
  transition: padding, 0.5s;
}
/* line 80, ../scss/_pages.scss */
.thumbnail img {
  height: auto !important;
}
@media only all and (max-width: 767px) {
  /* line 80, ../scss/_pages.scss */
  .thumbnail img {
    width: 100% !important;
  }
}
/* line 90, ../scss/_pages.scss */
.thumbnail .thumb-content {
  background-color: black;
}
/* line 94, ../scss/_pages.scss */
.thumbnail .caption {
  text-align: center;
  padding: 10px 0 0 0;
}
@media only all and (min-width: 768px) {
  /* line 107, ../scss/_pages.scss */
  .thumbnail:hover h3 {
    background: #375191;
    padding-top: 20px;
    -webkit-transition: background-color, 0.2s;
    -moz-transition: background-color, 0.2s;
    -o-transition: background-color, 0.2s;
    transition: background-color, 0.2s;
    -webkit-transition: padding, 0.2s;
    -moz-transition: padding, 0.2s;
    -o-transition: padding, 0.2s;
    transition: padding, 0.2s;
  }
}

/* line 15, ../scss/jn-main.scss */
body {
  overflow-x: hidden;
  padding-top: 0px;
  background-color: #666;
  background: url('/wp-content/themes/jn-wpbs/assets/img/bg/stripes.png?1385804855') black;
}

/* line 25, ../scss/jn-main.scss */
.wrap {
  padding-top: 180px;
  height: 100%;
}

/* line 30, ../scss/jn-main.scss */
.single .wrap {
  padding-top: 270px;
}

/* line 34, ../scss/jn-main.scss */
.content {
  margin-left: 15px;
  margin-right: 15px;
}
@media only all and (max-width: 767px) {
  /* line 34, ../scss/jn-main.scss */
  .content {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 42, ../scss/jn-main.scss */
.btn {
  margin: 30px 0;
}
/* line 44, ../scss/jn-main.scss */
.btn a {
  text-transform: uppercase;
  color: white;
}
/* line 47, ../scss/jn-main.scss */
.btn a:hover {
  color: white;
  text-decoration: none;
}

/* line 54, ../scss/jn-main.scss */
.pad-content {
  padding: 10px 0;
}

/* line 57, ../scss/jn-main.scss */
.pad-none {
  padding: 0;
}

/* IE 'browse happy' */
/* line 62, ../scss/jn-main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 69, ../scss/jn-main.scss */
#root-footer, #footer {
  height: 30px;
}
/* line 71, ../scss/jn-main.scss */
#root-footer p, #footer p {
  color: #666;
}

/* line 10, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
}
/* line 18, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root-footer {
  height: 30px;
}

/* line 20, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 30px;
}
